@import "generales";
.main-header {
    min-height: 80px;
    max-height: 80px;
	background-image: none !important;
	z-index: 100;
}

.container {
	position: relative;
	padding-top: 25%;
    &::before {
        display: block;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
		height: 80%;		
		background-size: cover;
		background: url('../images/banner.jpg');
		background-repeat: no-repeat;
        background-position: center top;
        margin-top: -15%;
    }
    .contain {
        position: relative;
        z-index: 10;
        margin: 0 auto -18rem auto;
        padding: 80px;
        width: 90%;
        min-width: 320px;
        max-width: 1200px;
        background: #fff;
        text-align: center;
        @media (max-width: 1000px) {
            padding: 80px 40px;
        }
        @media (max-width: 540px) {
            padding: 80px 20px;
        }
        @media (max-width: 540px) {
            padding: 80px 10px;
        }
        h2 {
            color: $primary-color;
            text-transform: uppercase;
            font-size: 2.3rem;
            font-weight: normal;
            margin-top: 0;
            margin-bottom: 60px;
            @media (max-width: 780px) {
                font-size: 2rem;
            }
        }
        p {
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.8);
            font-weight: 100;
            margin: 0rem auto 3rem auto;
            max-width: 850px;
            line-height: 150%;
        }
        div.two-fields {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            @media (max-width: 1000px) {
                grid-template-columns: 100%;
            }
            &>div {
                padding: 40px;
                @media (max-width: 540px) {
                    padding: 0px;
                    padding-bottom: 40px;
                }
                h3 {
                    color: $primary-color;
                    font-size: 2.3rem;
                    margin-bottom: 30px;
                    font-weight: 400;
                    @media (max-width: 780px) {
                        font-size: 2rem;
                    }
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

section.cover {
	margin-top: 4rem;
    background: url('../images/nosotros.jpg');
    min-height: 300px;
    background-size: cover;
    background-position: center center;
}

section.items {
    max-width: 900px;
    margin: 80px auto;
    h3 {
        color: #D57A00;
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 2rem;
        font-weight: normal;
        text-align: center;
        @media (max-width: 780px) {
            font-size: 2rem;
        }
    }
    ul {
        list-style: none;
        li::before {
            display: block;
            content: ' ';
            position: absolute;
            top: 7px;
            left: -19px;
            width: 8px;
            height: 8px;
            background-color: $primary-color;
            border-radius: 100%;
        }
        li {
            position: relative;
            color: rgba(0, 0, 0, 0.8);
            padding-bottom: 20px;
            font-size: 1.2rem;
            line-height: 150%;
            font-weight: lighter;
        }
    }
}

section.purposes {
    background: $primary-color;
    color: #fff !important;
    padding: 40px;
    @media (max-width: 580px) {
        padding: 40px 10px;
    }
    h3.title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        margin: 3rem auto;
    }
    div.contain-p {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        max-width: 1400px;
        margin: 0 auto;
        @media (max-width: 990px) {
            grid-template-columns: 100%;
        }
        div {
            padding: 40px;
            text-align: center;
            @media (max-width: 1140px) {
                padding: 20px;
            }
            @media (max-width: 990px) {
                padding: 40px;
            }
            @media (max-width: 580px) {
                padding: 10px;
            }
            h3.sub-title {
                font-size: 1.4rem;
                font-weight: 400;
                margin-bottom: 2rem;
            }
            p {
                font-size: 1.2rem;
                text-align: center;
                color: rgba(255, 255, 255, 0.8);
                b {
                    color: #fff;
                }
            }
        }
    }
}
