@import 'generales';
.main-header {
    max-height: 80px;
    min-height: 80px;
    z-index: 2;
    background: #fff;
    background-image: none !important;
}

.navbar ul.enlaces li.active::before {
    left: 23%;
}

section {
    &.loader {
        width: 100%;
        height: 100%;
        opacity: 1;
        background: rgba(0, 0, 0, 0.95);
        position: fixed;
        z-index: 30;
        top: 0;
        ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            display: flex;
            li {
                list-style: none;
                width: 35px;
                height: 35px;
                background: #F96161;
                margin: 0 5px;
                border-radius: 50px;
                animation: animate 1.4s linear infinite;
                &:nth-child(1) {
                    animation-delay: 0s;
                }
                &:nth-child(2) {
                    animation-delay: -1.2s;
                }
                &:nth-child(3) {
                    animation-delay: -1s;
                }
                &:nth-child(4) {
                    animation-delay: -.8s;
                }
                &:nth-child(5) {
                    animation-delay: -.6s;
                }
            }
            @keyframes animate {
                0% {
                    transform: translateY(0);
                }
                60% {
                    transform: translateY(0);
                }
                80% {
                    transform: translateY(-40px);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }
    }
    &.cover {
        background: $whiteTx;
        background-position: center;
        background-size: cover;
        height: 50%;
        background-repeat: no-repeat;
    }
    &.carousel {
        position: relative;
        div.blur {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(241, 128, 7, 0.5);
        }
        img { 
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .carousel-cont {
            display: grid;
            grid-template-columns: 100%;
            padding: 3rem 0rem;
            color: $whiteTx;
            font-family: 'Montserrat', sans-serif;
            &>div {
                padding: 0 80px;
                z-index: 1;
                h2 {
                    margin: 0px auto 1.5rem auto;
                    max-width: 800px;
                    font-size: 2.5rem;
                    font-weight: 400;
                    text-align: center;
                    text-transform: uppercase;
                    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.51);
                    @media (max-width: 780px) {						
						font-size: 1.5rem;
					}
                }
                h3 {
                    margin: 0;
                    font-size: 34px;
                    font-style: oblique;
                    text-align: center;
                    font-weight: normal;
                    @media (max-width: 1290px) {
                        font-size: 31px;
                    }
                    @media (max-width:740px) {
                        font-size: 25px;
                    }
                }
                &>span {
                    display: block;
                    font-size: 24px;
                    text-align: center;
                    font-weight: normal;
                    padding: 20px 0;
                    background: #fff;
                    min-width: 18%;
                    margin: 6px auto;
                    color: $primary-color;
                    max-width: 20%;
                    width: auto;
                    @media (max-width: 1290px) {
                        font-size: 21px;
                    }
                    @media (max-width:1100px) {
                        max-width: 30%;
                    }
                    @media (max-width:660px) {
                        max-width: 50%;
                    }
                    @media (max-width:450px) {
                        max-width: 60%;
                    }
                    @media (max-width:740px) {
                        font-size: 18px;
                    }
                }
                .button.white {
                    text-decoration: none;
                    display: block;
                    margin: 0 auto;
                    border: 0;
                    padding: 12px 80px;
                    border-radius: 32px;
                    font-size: 31px;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: $redTx;
                    transition: all ease-in-out .2s;
                    background: $whiteTx;
                    font-weight: bold;
                    &:hover {
                        background: $whiteTxO;
                    }
                    @media (max-width:1290px) {
                        font-size: 28px;
                    }
                    @media (max-width:740px) {
                        font-size: 22px;
                    }
                }
                @media (max-width:1290px) {
                    padding: 0 20px;
                }
                @media (max-width:600px) {
                    padding: 0px;
                }
            }
            @media (max-width:1290px) {
                padding: 60px;
            }
            @media (max-width:1024px) {
                padding: 60px 20px;
            }
            @media (max-width:740px) {
                padding: 20px;
            }
            @media (max-width:900px) {
                grid-template-columns: 100%;
                grid-gap: 10px;
                margin-top: 70px; 
            }
        }
    }
    &.carouselLineasdeintervencion{
        height: 300px;
        .carousel-cont{
            div{
                h2{
                    margin: 5rem auto 1.5rem auto;
                }
            }
        }
    }
    &.carouselProyectos{
        height: 300px;
        .carousel-cont{
            div{
                h2{
                    margin: 5rem auto 1.5rem auto;
                }
            }
        }
    }
    &.carouselNoticias{
        height: 300px;
        .carousel-cont{
            div{
                h2{
                    margin: 5rem auto 1.5rem auto;
                }
            }
        }
    }
    &.text {
        box-shadow: 0px 2px 3px 1px rgba(black, 0.3);
        padding: 60px 0;
        .body-text {
            max-width: 900px;
            margin: 40px auto;
			padding: 0 2rem;
            color: rgba(0, 0, 0, .7);
            text-align: justify;
            letter-spacing: 0px;
            word-wrap: break-word;
			font-size: 1.5rem;
			font-weight: 300;
            color: $gris-color;
            font-family: 'Montserrat', sans-serif;
            blockquote {
                text-align: center;
                font-style: italic;
                font-weight: bold;
                color: $redTx;
                @media (max-width: 600px) {
                    margin: 12px 4px;
                }
            }
           
            p {
                margin: 0 auto;
                padding: 0 2rem;
                font-size: 1.5rem;
                font-weight: 300;
                color: $gris-color;
                font-family: 'Montserrat', sans-serif;
                span{
                    font-family: 'Montserrat', sans-serif !important;
                }
            }
            & blockquote::first-letter,
            & h2::first-letter,
            & h3::first-letter {
                text-transform: capitalize !important;
            }
            a {
                color: $redTx !important;
            }
            h2 {
                font-size: 34px;
                font-weight: 700;
                color: $redTx;
                font-family: 'Montserrat', sans-serif;
                
                @media (max-width: 840px) {
                    font-size: 30px;
                }
                @media (max-width:550px) {
                    font-size: 26px;
                }
            }
            h3 {
                font-size: 30px;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                color: $redTx;
                @media (max-width: 840px) {
                    font-size: 26px;
                }
                @media (max-width:550px) {
                    font-size: 22px;
                }
            }
            ul,
            ol {
                padding-left: 20px;
                list-style: none;
                margin-left: 8%;
                width: 80%;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3rem;
                a {
                    color: $primary-color;
                }
                li {
                    line-height: 27px;
                    word-break: break-all;
                    padding-bottom: 6px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                }
                @media (max-width:840px) {
                    font-size: 22px;
                }
                @media (max-width:550px) {
                    font-size: 18px;
                }
            }
            ul li:before {
                content: '• ';
                display: inline-block;
                color: $primary-color;
                margin-right: 5px;
            }
            ol {
                counter-reset: line;
                li:before {
                    counter-increment: line;
                    content: counter(line)'. ';
                    display: inline-block;
                    color: $primary-color;
                    font-weight: 400;
                    margin-right: 5px;
                }
                li.hightlight {
                    color: $primary-color;
                }
            }
        }
        img {
            width: 100%;
            margin: 50px auto;
        }
    }
    &.cuadros{
            &.categorias {
                display: grid;
                grid-template-columns: repeat(3, 460px);
                //grid-template-rows: repeat(2, 460px);
                height: auto;
                justify-content: center;
                column-gap: 1rem;
                row-gap: 1rem;
                padding: 1rem 15px;
                margin-top: 10%;
                .categoria {
                    position: relative;
                    width: 100%;
                    min-width: 300px;
                    min-height: 400px;
                    padding: 1rem;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    cursor: pointer;
                    &::before {
                        display: block;
                        content: ' ';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        //background-color: transparentize($primary-color, $amount: 0.3);
                    }
                    &.alt {
                        &::before {
                            //background-color: transparentize(gray, $amount: 0.3);
                        }
                    }
                    .content {
                        position: absolute;
                        bottom: 15%;
                        left: 50%;
                        padding-left: 30px;
                        width: 100%;
                        transform: translateX(-50%);
                        color: white;
                        .icon {
                            position: absolute;
                            top: -30px;
                            left: 20px;
                            width: 60px;
                            height: 60px;
                        }
                        h3 {
                            font-size: 2.5rem;
                            font-weight: 600;
                            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                            font-family: 'Montserrat', sans-serif;
                            &::before {
                                display: block;
                                content: ' ';
                                position: absolute;
                                bottom: -12px;
                                left: 30px;
                                width: 44px;
                                height: 1px;
                                border: 3px solid white;
                            }
                        } 
                        h4{
                            font-size: 1.5rem;
                            font-weight: 600;
                            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                            font-family: 'Montserrat', sans-serif;
                        }
                        h3::before{
                            border-radius: 5px;
                        }
                    }
                }
                /*@media (max-width:980px){				
                    grid-template-columns: repeat(2, auto);
                }			
                @media (max-width:700px){				
                    grid-template-columns: repeat(1, auto);
                }*/
                @media (max-width:1380px){								
                    grid-template-columns: repeat(3, 380px);
                    grid-template-rows: initial;
                    article{
                        height: 380px;
                    }
                    .content h3{
                        font-size: 2.8rem !important;
                    }
                }
                @media (max-width:1200px){								
                    grid-template-columns: repeat(3, 350px);
                    grid-template-rows: initial;
                    article{
                        height: 350px;
                    }
                    .content h3{
                        font-size: 2.3rem !important;
                    }
                }
                @media (max-width:1080px){								
                    grid-template-columns: repeat(3, 300px);
                    grid-template-rows: repeat(2, 300px);
                }
                @media (max-width:1024px){							
                    grid-template-columns: repeat(3, 250px);
                    grid-template-rows: initial;
                    article{
                        height: 250px;
                    }
                    .categoria{
                        min-width: auto;
                        min-height: auto;
                    }
                    .content h3{
                        font-size: 1.8rem !important;
                    }
                }
                @media (max-width:860px){								
                    grid-template-columns: repeat(3, 200px);
                    grid-template-rows: initial;
                    article{
                        height: 200px;
                    }
                    .content h3{
                        font-size: 1.4rem !important;
                    }
                }
                @media (max-width:768px){								
                    grid-template-columns: repeat(2, 250px);
                    grid-template-rows: initial;
                    article{
                        height: 250px;
                    }
                    .content h3{
                        font-size: 1.8rem !important;
                    }
                }
                @media (max-width:600px){								
                    grid-template-columns: repeat(1, 315px);
                    grid-template-rows: initial;
                    article{
                        height: 315px;
                    }
                    .content h3{
                        font-size: 2.3rem !important;
                    }
                }
            }
    }
    &.more-news {
        max-width: 900px;
        margin: 24px auto;
        &>div {
            display: grid;
            grid-template-columns: 50% 50%;
            &>div:nth-child(1) {
                border-right: 3px solid $redTx;
                text-align: right;
                padding-right: 10px;
            }
            &>div {
                transform: skew(-13deg);
                .inverted {
                    padding: 36px;
                    transform: skew(13deg);
                    &.left {
                        text-align: left;
                        padding-left: 50px;
                    }
                    h3 {
                        color: $redTx !important;
                        a {
                            color: $redTx !important;
                            text-transform: uppercase;
                        }
                        &.title {
                            a {
                                font-weight: 500;
                                font-size: 1.5rem;
                                line-height: 160%;
                            }
                        }
                        &.title:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                    label.date {
                        font-size: 20px;
                        font-weight: lighter;
                    }
                }
            }
        }
        &>div.one{
            grid-template-columns: 75%;
        }
        @media (max-width:780px) {
            &>div {
                grid-template-columns: 100%;
                &>div:nth-child(1) {
                    border-right: none;
                }
                &>div {
                    transform: none !important;
                }
                .inverted {
                    transform: none !important;
                }
            }
        }
    }
    &.author {
        &>div {
            position: relative;
            max-width: 1100px;
            margin: 0 auto;
            padding: 24px 0;
            .author-span:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                top: 52px;
                left: 0;
                z-index: 1;
                background: silver;
            }
            .author-span {
                display: block;
                max-width: 900px;
                margin: 0 auto;
                span {
                    display: block;
                    padding-left: 150px;
                    color: $whiteTx;
                    font-size: 20px;
                    
                }
            }
            .author-desc {
                max-width: 900px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 140px auto;
                align-items: center;
                @media(max-width: 500px) {
                    grid-template-columns: 100px 70%;
                }
                @media(max-width:360px) {
                    grid-template-columns: 100px 68%;
                }
            }
            figure.avatar {
                margin: 0;
                z-index: 3;
                position: relative;
                top: -10px;
                img {
                    object-fit: cover;
                    max-width: 160px;
                    max-height: 120px;
                    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                    clip-path: polygon(24% 0%, 100% 0%, 75% 100%, 0% 100%);
                    margin: 0 auto;
                    background: #fff;
                }
            }
            .description-avatar {
                font-size: 20px;
                color: rgba(0, 0, 0, .6);
                @media(max-width: 500px) {
                    font-size: 16px;
                }
                .description-text {
                    margin: 12px 0;
                    padding: 0px 20px;
                    color: #fff;
                    @media(max-width: 500px) {
                        font-size: 16px;
                        padding: 0px 10px;
                    }
                    b {
                        display: block;
                        background: $whiteTx;
                        color: $redTx;
                        transform: skew(-8deg);
                        padding: 5px 30px;
                        z-index: 1;
                        width: 240px;
                        position: relative;
                        left: -40px;
                        @media(max-width: 500px) {
                            width: 250px;
                        }
                        span {
                            transform: skew(8deg);
                        }
                    }
                }
                .social-av {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    padding: 0px 20px;
                    @media(max-width: 500px) {
                        font-size: 16px;
                        padding: 0px 10px;
                    }
                    li {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        padding: 0 5px;
                        a.icon {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        background: $redTx;
    }
}
