@import 'generales';
.encausa {
    &.header,
    .header {
        font-size: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin: 0px 0px 0px 0px;
        min-height: 300px;
        &.sobreposicion {
            position: relative;
            .bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                content: ' ';
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
            .content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                background-color: white;
                padding: 4em 1em;
                width: 75%;
                max-width: 1200px;
                min-width: 300px;
                text-align: center;
                >* {
                    margin: 0px auto 0px auto;
                    padding: 0px 0px 0px 0px;
                }
                h1,
                p {
                    max-width: 800px;
                }
                h1 {
                    margin-bottom: 2em;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 2.3em;
                    color: $primary-color;
                }
                p {
                    font-size: 1.5em;
                    font-weight: 100;
                    color: #333333;
                }
            }
            @media screen and (max-width:780px) {
                font-size: 0.8rem;
                .content {
                    h1 {
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}

.encausa {
    &.lineas,
    .lineas {
        &.categorias {
            display: grid;
            grid-template-columns: repeat(3, 460px);
            grid-template-rows: repeat(2, 460px);
            justify-content: center;
            column-gap: 1rem;
            row-gap: 1rem;
            padding: 1rem 15px;
            margin-top: 10%;
            .categoria {
                position: relative;
                width: 100%;
                min-width: 300px;
                min-height: 300px;
                padding: 1rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                cursor: pointer;
                &::before {
                    display: block;
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    //background-color: transparentize($primary-color, $amount: 0.3);
                }
                &.alt {
                    &::before {
                        //background-color: transparentize(gray, $amount: 0.3);
                    }
                }
                .content {
                    position: absolute;
                    bottom: 15%;
                    left: 50%;
                    padding-left: 30px;
                    width: 100%;
                    transform: translateX(-50%);
                    color: white;
                    .icon {
                        position: absolute;
                        top: -30px;
                        left: 20px;
                        width: 60px;
                        height: 60px;
                    }
                    h3 {
                        font-size: 3rem;
                        font-weight: 600;
                        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                        font-family: 'Montserrat', sans-serif;
                        &::before {
                            display: block;
                            content: ' ';
                            position: absolute;
                            bottom: -12px;
                            left: 30px;
                            width: 44px;
                            height: 1px;
                            border: 3px solid white;
                        }
                    } 
                    h4{
                        font-size: 1.5rem;
                        font-weight: 600;
                        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                        font-family: 'Montserrat', sans-serif;
                    }
                    h3::before{
                        border-radius: 5px;
                    }
                }
			}
			/*@media (max-width:980px){				
				grid-template-columns: repeat(2, auto);
			}			
			@media (max-width:700px){				
				grid-template-columns: repeat(1, auto);
            }*/
            @media (max-width:1380px){								
                grid-template-columns: repeat(3, 380px);
                grid-template-rows: repeat(2, 380px);
                .content h3{
                    font-size: 2.8rem !important;
                }
            }
            @media (max-width:1200px){								
                grid-template-columns: repeat(3, 350px);
                grid-template-rows: repeat(2, 350px);
                .content h3{
                    font-size: 2.3rem !important;
                }
            }
            @media (max-width:1080px){								
                grid-template-columns: repeat(3, 300px);
                grid-template-rows: repeat(2, 300px);
            }
            @media (max-width:1024px){							
                grid-template-columns: repeat(3, 250px);
                grid-template-rows: repeat(2, 250px);
                .categoria{
                    min-width: auto;
                    min-height: auto;
                }
                .content h3{
                    font-size: 1.8rem !important;
                }
            }
            @media (max-width:860px){								
                grid-template-columns: repeat(3, 200px);
                grid-template-rows: repeat(2, 200px);
                .content h3{
                    font-size: 1.4rem !important;
                }
            }
            @media (max-width:768px){								
                grid-template-columns: repeat(2, 250px);
                grid-template-rows: repeat(3, 250px);
                .content h3{
                    font-size: 1.8rem !important;
                }
            }
            @media (max-width:600px){								
                grid-template-columns: repeat(1, 315px);
                grid-template-rows: repeat(6, 315px);
                .content h3{
                    font-size: 2.3rem !important;
                }
            }
        }
    }
}

.encausa {
    &.balance,
    .balance{
        &.categorias {
            display: grid;
            grid-template-columns: repeat(3, 460px);
            grid-template-rows: repeat(3, 460px);
            justify-content: center;
            column-gap: 0rem;
            row-gap: 0rem;
            padding: 1rem 15px;
            margin-top: 10%;
            .categoria {
                position: relative;
                width: 100%;
                min-width: 300px;
                min-height: 300px;
                padding: 1rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                &::before {
                    display: block;
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    //background-color: transparentize(gray, $amount: 0.3);
                }
                &.alt {
                    &::before {
                        //background-color: transparentize($primary-color, $amount: 0.3);
                    }
                }
                .content {
                    position: absolute;
                    bottom: 15%;
                    left: 50%;
                    padding-left: 30px;
                    width: 100%;
                    transform: translateX(-50%); 
                    color: #333333;
                    .number {
                        color: #333333;
                        font-size: 60px;
                        font-weight: bold;
                        position: relative;
                        top: 5px;
                    }
                    h3.orange {
                        font-weight: 100;
                        font-size: 185%;
                        width: 85%;
                        line-height: 34px;
                        font-style: italic;
                        &::before {
                            display: block;
                            content: ' ';
                            position: absolute;
                            bottom: -12px;
                            left: 30px;
                            top: 40px;
                            width: 60px;
                            height: 1px;
                            border: 3px solid rgba(252,119,52,0.7);
                        }
                    }
                    h3.white {
                        font-size: 185%;
                        font-weight: 100;
                        width: 85%;
                        line-height: 34px;
                        font-style: italic;
                        &::before {
                            display: block;
                            content: ' ';
                            position: absolute;
                            bottom: -12px;
                            top: 40px;
                            left: 30px;
                            width: 60px;
                            height: 1px;
                            border: 3px solid white;
                        }
                    }
                }
                .content-2 {
                    position: absolute;
                    bottom: 15%;
                    left: 50%;
                    padding-left: 30px;
                    width: 100%;
                    transform: translateX(-50%);
                    color: white;
                    top: 20%;
                    .number {
                        color: white;
                        font-size: 60px;
                        font-weight: bold;
                        position: relative;
                        top: -10px;
                    }
                    h3.orange {
                        margin-top: 5px;
                        font-size: 185%;
                        font-weight: 100;
                        width: 85%;
                        line-height: 34px;
                        font-style: italic;
                        &::before {
                            display: block;
                            content: ' ';
                            position: absolute;
                            bottom: -12px;
                            top: 25px;
                            left: 30px;
                            width: 60px;
                            height: 1px;
                            border: 3px solid rgba(252,119,52,0.7);
                        }
                    }
                    h3.white {
                        margin-top: 5px;
                        font-size: 185%;
                        font-weight: 100;
                        width: 85%;
                        line-height: 34px;
                        font-style: italic;
                        &::before {
                            display: block;
                            content: ' ';
                            position: absolute;
                            bottom: -12px;
                            top: 25px;
                            left: 30px;
                            width: 60px;
                            height: 1px;
                            border: 3px solid white;
                        }
                    }
                }
            }
            

			@media (max-width:1380px){								
                grid-template-columns: repeat(3, 380px);
                grid-template-rows: repeat(3, 380px);
                .content{                
                    bottom: 20% !important;
                    h3.orange, h3.white{
                        font-size: 155% !important;
                        width: 70% !important;
                    }
                }
                .content-2{                
                    h3.orange, h3.white{
                        font-size: 155% !important;
                        width: 70% !important;
                    }
                }
            }
			@media (max-width:1200px){								
                grid-template-columns: repeat(3, 350px);
                grid-template-rows: repeat(3, 350px);
                .content{                
                    bottom: 20% !important;
                    h3.orange, h3.white{
                        font-size: 140% !important;
                        width: 70% !important;
                    }
                }
                .content-2{                
                    h3.orange, h3.white{
                        font-size: 140% !important;
                        width: 70% !important;
                    }
                }
			}
			@media (max-width:1080px){								
                grid-template-columns: repeat(3, 300px);
                grid-template-rows: repeat(3, 300px);
                .content{                
                    top: 15% !important;
                    h3.orange, h3.white{
                        font-size: 130% !important;
                        width: 90% !important;
                    }
                }
                .content-2{                
                    h3.orange, h3.white{
                        font-size: 130% !important;
                        width: 90% !important;
                    }
                }
			}
			@media (max-width:1024px){							
                grid-template-columns: repeat(3, 250px);
                grid-template-rows: repeat(3, 250px);
                .content{                    
                    top: 15% !important;
                    h3.orange, h3.white{
                        font-size: 16px !important;
                        width: 90% !important;
                        line-height: 21px !important;
                    }
                }
                .content-2{                
                    h3.orange, h3.white{
                        font-size: 16px !important;
                        width: 90% !important;
                        line-height: 21px !important;
                    }
                }
                .categoria{
                    min-width: auto;
                    min-height: auto;
                }
			}
			@media (max-width:860px){								
                grid-template-columns: repeat(3, 200px);
                grid-template-rows: repeat(3, 200px);
                .content{                
                    top: 10% !important;
                    .number{
                        top: 15px !important;
                        font-size: 31px !important;
                    }
                    h3.orange, h3.white{
                        font-size: 15px !important;
                        width: 90% !important;
                        line-height: 18px !important
                    }
                }
                .content-2{      
                    top: 17% !important;
                    .number{
                        top: 0px !important;
                        font-size: 31px !important;
                    }          
                    h3.orange, h3.white{
                        font-size: 15px !important;
                        width: 90% !important;
                        line-height: 18px !important
                    }
                }
                .categoria{
                    min-width: auto;
                    min-height: auto;
                }
			}
			@media (max-width:768px){								
                grid-template-columns: repeat(2, 250px);
                grid-template-rows: repeat(5, 250px);
                .content{                
                    top: 10% !important;
                    .number{
                        top: 7px !important;
                        font-size: 50px !important;
                    }
                    h3.orange, h3.white{
                        font-size: 130% !important;
                        width: 90% !important;
                        line-height: 20px !important
                    }
                }
                .content-2{      
                    top: 17% !important;
                    .number{
                        top: -7px !important;
                        font-size: 50px !important;
                    }
                    h3.orange, h3.white{
                        font-size: 130% !important;
                        width: 90% !important;
                        line-height: 20px !important
                    }
                }
                .categoria{
                    min-width: auto;
                    min-height: auto;
                }
            }            
			@media (max-width:600px){								
                grid-template-columns: repeat(1, 315px);
                grid-template-rows: repeat(9, 315px);
                .content{                
                    top: 10% !important; 
                    .number{
                        top: 7px !important;
                        font-size: 50px !important;
                    }
                    h3.orange, h3.white{
                        font-size: 21px !important;
                        width: 90% !important;
                        line-height: 31px !important
                    }
                }
                .content-2{      
                    top: 17% !important;
                    .number{
                        top: -7px !important;
                        font-size: 50px !important;
                    }
                    h3.orange, h3.white{
                        font-size: 21px !important;
                        width: 90% !important;
                        line-height: 31px !important
                    }
                }
                .categoria{
                    min-width: auto;
                    min-height: auto;
                }
			}
            
        }
    }
}


.encausa {
    &.proyectos,
    .proyectos {
        &.categorias {
            display: grid;
            grid-template-columns: repeat(3, 460px);
            //grid-template-rows: repeat(2, 460px);
            height: auto;
            justify-content: center;
            column-gap: 1rem;
            row-gap: 1rem;
            padding: 1rem 15px;
            margin-top: 10%;
            .categoria {
                position: relative;
                width: 100%;
                min-width: 300px;
                min-height: 400px;
                padding: 1rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                cursor: pointer;
                &::before {
                    display: block;
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    //background-color: transparentize($primary-color, $amount: 0.3);
                }
                &.alt {
                    &::before {
                        //background-color: transparentize(gray, $amount: 0.3);
                    }
                }
                .content {
                    position: absolute;
                    bottom: 15%;
                    left: 50%;
                    padding-left: 30px;
                    width: 100%;
                    transform: translateX(-50%);
                    color: white;
                    .icon {
                        position: absolute;
                        top: -30px;
                        left: 20px;
                        width: 60px;
                        height: 60px;
                    }
                    h3 {
                        font-size: 3rem;
                        font-weight: 600;
                        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                        font-family: 'Montserrat', sans-serif;
                        &::before {
                            display: block;
                            content: ' ';
                            position: absolute;
                            bottom: -12px;
                            left: 30px;
                            width: 44px;
                            height: 1px;
                            border: 3px solid white;
                        }
                    } 
                    h4{
                        font-size: 1.5rem;
                        font-weight: 600;
                        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                        font-family: 'Montserrat', sans-serif;
                    }
                    h3::before{
                        border-radius: 5px;
                    }
                }
			}
			/*@media (max-width:980px){				
				grid-template-columns: repeat(2, auto);
			}			
			@media (max-width:700px){				
				grid-template-columns: repeat(1, auto);
            }*/
            @media (max-width:1380px){								
                grid-template-columns: repeat(3, 380px);
                grid-template-rows: initial;
                article{
                    height: 380px;
                }
                .content h3{
                    font-size: 2.8rem !important;
                }
            }
            @media (max-width:1200px){								
                grid-template-columns: repeat(3, 350px);
                grid-template-rows: initial;
                article{
                    height: 350px;
                }
                .content h3{
                    font-size: 2.3rem !important;
                }
            }
            @media (max-width:1080px){								
                grid-template-columns: repeat(3, 300px);
                grid-template-rows: repeat(2, 300px);
            }
            @media (max-width:1024px){							
                grid-template-columns: repeat(3, 250px);
                grid-template-rows: initial;
                article{
                    height: 250px;
                }
                .categoria{
                    min-width: auto;
                    min-height: auto;
                }
                .content h3{
                    font-size: 1.8rem !important;
                }
            }
            @media (max-width:860px){								
                grid-template-columns: repeat(3, 200px);
                grid-template-rows: initial;
                article{
                    height: 200px;
                }
                .content h3{
                    font-size: 1.4rem !important;
                }
            }
            @media (max-width:768px){								
                grid-template-columns: repeat(2, 250px);
                grid-template-rows: initial;
                article{
                    height: 250px;
                }
                .content h3{
                    font-size: 1.8rem !important;
                }
            }
            @media (max-width:600px){								
                grid-template-columns: repeat(1, 315px);
                grid-template-rows: initial;
                article{
                    height: 315px;
                }
                .content h3{
                    font-size: 2.3rem !important;
                }
            }
        }
    }
}
