@mixin bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin position-default {
    position: absolute;
    display: block;
    content: " ";
}

@mixin translate-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin total-size {
    width: 100%;
    height: 100%;
}

@function pt-to-rem($pt){
	@return unquote(($pt * 0.10) + 'rem');
}

$primary-color: rgb(252, 119, 52);
$color-parrafo: rgba(0,0,0,1);
$gris-color: #4D4D4D;
$p-color:rgb(252, 119, 52);
$blueBg:  #25a1ed;
$whiteTx: #fff;
$whiteTxO:rgba(255,255,255,0.8);
$blackTx: #000;
$blueTx:  #1adeff;
$grayBg:  #e8e8e8;
//Repeticiones
$grayTx:  #4D4D4D;
$redTx:   #D57A00;
/* Varios */

img {
    max-width: 100%;
}

p {
    max-width: 800px;
    line-height: 150%;
}

/* Titulos */

$titulo-width: 40px;
$titulo-bottom: -12px;
$titulo-border-width: 3px;
$titulo-color: $primary-color;
.titulo {
    position: relative;
    margin: 15px 0;
	padding: 0;
    * {
        position: relative;
        display: block;
        margin: 1.5rem 0px;
        text-transform: uppercase;
        color: $titulo-color;
		font-weight: 400;
		font-size: 2em;
        &::before {
            @include position-default;
            width: 80px;
            height: 4px;
            bottom: $titulo-bottom;
            left: 0;
            border: 2px $primary-color solid;
        }
    }
    &.alt {
        text-align: center;
        * {
            display: inline-block;
            &::before {
                @include position-default;
                width: $titulo-width;
                height: $titulo-border-width;
                bottom: $titulo-bottom;
                left: 50%;
                transform: translateX(-50%);
                border: $titulo-border-width $gris-color solid;
            }
        }
    }
}

/* Botones */

.button {
    display: inline-block;
    border: 1px $primary-color solid;
    border-radius: 26px;
    padding: 0.71rem 2.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $primary-color;
    transition: 0.5s ease all;
    &:hover {
        background-color: $primary-color;
        color: white;
    }
    &.gris {
        color: $gris-color;
        border-color: $gris-color;
        &:hover {
            color: white;
            background-color: $gris-color;
        }
    }
}

/* Reseña */

.resenna {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    min-height: 400px;
    text-align: center;
    padding: 0 15px;
    margin: 25px 0px;
    @media(max-width: 800px) {
        padding: 0 5px;
    }
    .texto {
        margin: 10rem auto;
        max-width: 800px;
        p {
			font-size: 1.2rem;
            color: rgba(0, 0, 0, 1);
			font-weight: 100;
            margin-bottom: 3em;
            @media(max-width: 800px) {
                font-size: 1.1rem;
                text-align: justify;
                margin: 0px 14px 10px 11px;
            }
        }
    }
    .linea-punto {
        @include position-default;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 1.5px;
        border: 0.5px $primary-color solid;
        &::before {
            @include position-default;
            @include translate-center;
            border-radius: 100%;
            width: 15px;
            height: 15px;
            background-color: $primary-color;
        }
    }
}
