.imagenes {
    display: flex;
    flex-wrap: wrap;
    >* {
        display: block;
        flex: 0 0 33.3333%;
        width: 33.3333%;
        @media(max-width: 1200px) {
            flex: 0 0 50%;
            width: 50%;
        }
        @media(max-width: 800px) {
            flex: 0 0 100%;
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .imagen {
        @include bg;
        min-height: 300px;
        max-height: 600px;
        transition: all .2s ease-in-out;
        overflow: hidden;
        cursor: pointer;
        div.img {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
        @media(max-width:425px){
            max-width: 50%;
            min-height: 200px;
        }
    }
    .titular {
        position: relative;
        display: grid;
        padding: 1rem 2rem;
        grid-template-columns: auto;
        justify-content: baseline;
        align-content: baseline;
        background-color: $primary-color;
        max-height: 600px;
        min-height: 400px;
        cursor: pointer;
        @media(max-width: 800px) {
            padding: 0 1rem;
        }
        @media(max-width: 425px){ 
            max-width: 50%;
            min-height: 200px;
        }
        &:hover .titulo h2::before { 
            width: calc(100% - 20px);
        }
        * {
            color: white !important;
        }
        .titulo {
            h2 {
                font-size: 3rem;
                font-weight: 600;
                padding: 20px;
                //word-break: break-all;
                @media(max-width: 1200px) {
                    padding: 5px;
                }
                @media(max-width: 425px){
                    font-size: 1.1rem;
                }
                &::before {
                    transition: all ease .2s;
                    border-color: white;
                    left: 20px;
                    @media(max-width: 1200px) {
                        left: 5px;
                    }
                }
            }
            
        }
        a.mas {
            position: absolute;
            bottom: 20px;
            right: 20px;
            font-size: 4rem;
            height: 3rem;
            width: 3rem;
            display: inline-grid;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            i {
                position: absolute;
                @include translate-center;
                @include total-size;
                &::before {
                    position: absolute;
                    @include translate-center;
                }
            }
        }

        span.mas{
            position: absolute;
            bottom: 20px;
            right: 20px;
            font-size: 6rem;
            height: 3rem;
            width: 3rem;
            display: inline-grid;
            align-items: center;
            justify-content: center;
            font-weight: 800;
        }

        &.alt {
            background-color: white;
            * {
                color: $primary-color !important;
            }
            .titulo {
                position: absolute;
                bottom: 15px;
                left: 25px;
                * {
                    &::before {
                        border-color: $primary-color;
                    }
                }
            }
            a.mas {
                bottom: 14px;
            }
            span.mas{
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 6rem;
                height: 3rem;
                width: 3rem;
                display: inline-grid;
                align-items: center;
                justify-content: center;
                font-weight: 800;
            }
    
            
        }
    }
}
.cargarMas{
    text-align: center;
    margin: 6%;
  
}

.aliados {
    margin: 8rem 0;
    padding: 0 3rem;
    @media(max-width: 660px) {
        padding: 0 1rem;
    }
    .titulo {
        margin-bottom: 7rem;
    }
    .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 4rem 0;
        >* {
            flex: 0 0 15%;
            margin: 20px 0px;
            text-align: center;
            @media(max-width: 1000px) {
                flex: 0 0 25%;
            }
            @media(max-width: 490px) {
                flex: 0 0 30%;
            }
            @media(max-width: 660px) {
                margin: 10px 10px;
            }
            img {
                max-width: 120px;
            }
        }
    }
}

.franja {
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;
    margin: 5rem 0;
    padding: 6rem;
    min-height: 200px;
    >* {
        text-align: center;
    }
    .texto {
        * {
			font-size: 2.5em;
			font-weight: 400;
            text-transform: uppercase;
            color: white;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
            @media(max-width: 990px) {
                font-size: 2.3em;
            }
            @media(max-width: 780px) {
                font-size: 2em;
            }
        }
    }
    .boton {
        .button {
            border-width: 3px;
            border-color: white;
            color: white;
            font-weight: 800;
            box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.4), inset 1px 2px 9px rgba(0, 0, 0, 0.4);
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
            width: 100%;
            max-width: 160px;
            &:hover {
                background-color: white;
                border-color: white;
                color: $primary-color;
            }
        }
    }
    @media(max-width: 1240px) {
        grid-template-columns: 80% auto;
    }
    @media(max-width: 990px) {
        grid-template-columns: 50% auto;
    }
    @media(max-width: 780px) {
        padding: 2rem;
    }
    @media(max-width: 460px) {
        grid-template-columns: 100%;
    }
}


.formContacto{
    width: 35%;
    position: absolute;
    background-color: rgb(252, 119, 51);
    height: auto;
    z-index: 100;
    right: 0;
    top: 76px;
    border-radius: 3px;
    .contenedor{
        margin: 2% ;
        background-color: rgb(252, 119, 51);
        padding: 5px 0;
        color: white;
        border: 1px solid;
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 19px;
            margin: 2%;
            color: rgb(255, 255, 255)
        }
        ul{
            li{
                list-style-type: circle;
                color: #fff;
                margin: 5px 0px;
                a{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                    color: #fff;
                    img{
                        margin: -7px -1px;
                    }
                }
                a:hover{
                    color: #f7ece7;
                }
            }
        }
    }
}
 