.navbar {
    .formContacto {
        width: 40%;

        .contenedor {
            h2 {
                text-align: center;
            }

            ul {
                padding: 0;

                li {
                    list-style: none;
                    text-align: center;

                    a {
                        font-size: 18px;
                        line-height: 20px;
                    }
                }

                li.social-media {
                    margin-top: 30px;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.overlay {
    .small-nav {
        height: 85%;

        ul {
            height: 100%;
            padding: 0;
            left: 0;
            padding: 0 2rem;
            position: relative;

            li {
                a {
                    color: #4D4D4D;
                    font-size: 1.2rem;
                }
            }

            .info-container {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;

                .social-media {
                    display: flex;
                    justify-content: space-around;
                    max-width: 200px;
                    margin: 1.5rem auto;

                    a {
                        width: auto;
                    }
                }

                .information {
                    margin-top: 3rem;
                    text-align: center;

                    .direction {
                        display: block;
                        margin: 0 auto 1rem auto;
                    }

                    a {
                        width: fit-content;
                        font-size: 1.2rem;
                        display: inline-flex;
                        line-height: 2rem;
                    }

                    .correo {
                        display: block;
                        margin: auto;
                    }
                }
            }
        }
    }
}

.global-layout {

    .sobreposicion {
        background: url('../images/imgNew/bannerNosotros.jpg');
        background-size: cover;

        .content {
            top: 75% !important;
        }
    }

    .about-us-container {
        padding: 10%;
    }

    .balance.categorias {
        .categoria {

            .content,
            .content-2 {

                h3 {
                    padding-top: 15px;
                }
            }
        }

        .square-2 {
            background-image: url('../images/imgNew/creacionesDeNegocios.jpg');
        }

        .square-1 {
            background-color: #cccccc;
        }

        .square-3 {
            background-color: #ef7b00;
        }

        .square-4 {
            background-image: url('../images/imgNew/planPadrino.jpg');
        }

        .square-5 {
            background-color: #fff;
        }

        .square-6 {
            background-image: url('../images/imgNew/Programas_RBC.jpg');
        }

        .square-7 {
            background-image: url('../images/imgNew/EmprendimientoEmpresarial.jpg');
        }

        .square-8 {
            background-color: #cdcdcd;
        }

        .square-9 {
            background-image: url('../images/imgNew/EmprendimientoEmpresarial.jpg');
        }
    }

    .portadaSlick {
        .main-header {
            .article {
                width: 70%;
            }
        }
    }

    .landing {
        background-position: center !important;
        background-size: cover !important;

        height: 60vh;
        position: relative;

        .landing-text {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgba(255, 255, 255, 0.78);
            position: absolute;
            bottom: 25%;
            left: 0;
            width: 50%;
            padding: 35px;
            height: -moz-max-content;
            height: max-content;
            //z-index: 99999;

            p {
                font-weight: 400;
                font-size: 2.5rem;
                color: #fc7734;

                &::before {
                    position: absolute;
                    display: block;
                    content: " ";
                    width: 50%;
                    height: 4px;
                    bottom: 0px;
                    left: 0;
                    border: 2px #fc7734 solid;
                }
            }
        }

    }

    .resenna {
        .texto {
            max-width: 850px;

            h1 {
                color: #fc7734;
                font-size: 38px;
            }

            p {
                font-size: 25px;
                font-weight: 300;
                color: #4D4D4D;
            }
        }
    }

    .imagenes {
        .titular {
            padding: 0;

            .titulo {
                padding: 1rem;
            }

            h3 {
                font-size: 1.5rem;
            }
        }

        .titular-gray {
            background-color: #4D4D4D;
            color: #fc7734;
            position: relative;
            display: grid;
            padding: 0;
            grid-template-columns: auto;
            justify-content: baseline;
            align-content: baseline;
            max-height: 600px;
            min-height: 400px;
            cursor: pointer;
        }

        .imagen {
            .img {
                height: 400px;
            }
        }
    }

    .carousel {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .carousel-cont {
            background-color: rgba(252, 119, 52, .8);
            margin-bottom: 20px;
            z-index: 1;
            padding: 10px;

            div {
                padding: 0 20px;

                #title {
                    margin: 20px 0;
                }

                span {
                    max-width: 100%;
                    padding: 10px 5px;
                    font-size: 14px;

                }
            }
        }

        .blur {
            background: rgba(0, 0, 0, 0);
        }

    }

    .text {
        padding: 0;

        .body-text {
            padding: 50px 30px;
            max-width: 930px;
            margin: 0 auto;

            p {
                padding: 0;
                max-width: 900px;

                span {
                    color: #4D4D4D !important;
                }
            }
        }

        div {
            .cuadros {
                margin-top: 5%;
            }
        }
    }

    .franja {
        background-image: url('../images/banner-naranja.jpg');

        .boton {
            .button {
                max-width: 190px;
            }
        }
    }

    .encausa.proyectos.categorias {
        .categoria {
            .content {
                z-index: 2;
            }

            .courtain {
                top: 0;
                left: 0;
                transition: all .5s ease;
                background-color: rgb(252, 119, 52);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }

        .categoria:hover {
            .courtain {
                opacity: 1;
            }
        }
    }

    .encausa.lineas.categorias {
        .categoria {
            .content {
                z-index: 2;
            }

            .courtain {
                top: 0;
                left: 0;
                transition: all .5s ease;
                background-color: rgb(252, 119, 52);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }

        .categoria:hover {
            .courtain {
                opacity: 1;
            }
        }
    }

    .cuadros {
        .categoria {
            .content {
                z-index: 2;
            }

            .courtain {
                top: 0;
                left: 0;
                transition: all .5s ease;
                background-color: rgb(252, 119, 52);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }

        .categoria:hover {
            .courtain {
                opacity: 1;
            }
        }
    }

    @media(max-width: 500px) {
        .more-news {
            display: none;
        }
    }

    @media(max-width: 850px) {
        .sobreposicion {
            .content {
                padding: 4em 2em;

                p {
                    font-size: 16px;
                    font-weight: 300;
                    text-align: justify;
                }
            }
        }

        .landing {
            height: 90vh;

            .landing-text {
                bottom: 0;
                width: 100%;
                padding: 20px;

                p {
                    font-size: 1.5rem;
                }
            }

        }

        .resenna {
            .texto {
                margin: 10rem auto 5rem auto;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 18px;
                    margin-bottom: 50px;
                }
            }
        }

        .imagenes {
            .imagen {
                max-width: 90%;
                height: 200px;
                margin: auto;
            }

            .titular,
            .titular-gray {
                min-height: 200px;
                max-width: 90%;
                margin: .5rem auto;
                height: fit-content;

                .titulo {
                    h3 {
                        font-size: 1.2rem;

                    }
                }

                .img {
                    height: 0px;
                }

                .mas {
                    font-size: 3.5rem;
                }
            }
        }

        .franja {
            row-gap: 2rem;
        }

        .text {
            .body-text {
                p {

                    font-size: 1.2rem;

                }
            }

            div {
                .cuadros {
                    a {
                        min-height: 300px;
                    }
                }
            }
        }



        .aliados {
            .titulo {
                margin-bottom: 3rem;
            }

            .logos {
                display: grid;
                grid-template-columns: auto auto auto;
                margin: 2rem 0;

                img {
                    width: 100%;
                }
            }
        }

        .about-us-container {
            &::before {
                height: 60vh;
                background-position: center;
                background-size: cover;
            }

            .contain {
                transform: translateY(20%);
                padding-top: 40px;
                padding-bottom: 40px;

                h1 {
                    color: #fc7734;
                    text-transform: uppercase;
                    font-size: 2.3rem;
                    font-weight: normal;
                    margin-top: 0;
                    margin-bottom: 20px;
                }

                p {
                    text-align: justify;
                    padding: 0 1.5rem;
                }
            }

            padding: 0;
        }

        .cover {
            margin-top: 25rem;
        }

        .encausa.proyectos.categorias {
            a {
                min-height: 250px;

                .content {
                    left: 45%;
                }
            }
        }
    }



    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1400px;
        margin: 2rem auto 3rem auto;

        .logo {
            max-width: 600px;

            .contacto {
                text-align: start;

                address {
                    font-size: 1.2rem;
                }
            }
        }


        .enlaces {
            h3 {
                color: #4D4D4D;
                font-weight: 500;
            }

            div {
                a {
                    margin: 0 1rem;

                    img {
                        width: 40px;
                    }
                }
            }
        }

        @media(max-width: 850px) {
            justify-content: center;

            .logo {
                .contacto {
                    text-align: center;
                }
            }

            .enlaces {
                margin-top: 3rem;
            }
        }
    }

}