/* Menú */

@keyframes navbarFixedIn {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}

.navbar {
    display: grid;
    grid-template-columns: 20% 80%;
    background: #fff;
    align-items: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.49);
    transition: 0.5s ease all;
    font-weight: 400;
    position: relative;
    z-index: 100;
    &.scroll {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0);
        animation: navbarFixedIn 0.5s ease;
    }

    @media(max-width:900px){
        position: fixed;
        width: 100%;
       
    }
   
    div.logo {
        img {
            padding-left: 10%;
            max-width: 200px;
            min-width: 200px;
            padding-top: 4px;
            @media(max-width: 1400px) {
                max-width: 180px;
                min-width: 180px;
            }
            @media (max-width: 1280px) {
                grid-template-columns: 20% auto;
                max-width: 150px;
                min-width: 150px;
                padding-left: 4px;
            }
        }
    }
    ul.enlaces {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding: 0;
        list-style: none;
        text-align: right;
        li {
            position: relative;
            margin: 0px 5px;
            padding: 0px 10px;
            height: 100%;
            max-width: 170px;
            text-align: center;
            line-height: 25px;
            transition: all ease-in .2s;
            a {
                display: inline-grid;
                align-items: center;
                height: 100%;
                padding: 0px 15px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1rem;
                line-height: 150%;
                color: rgba(0, 0, 0, 0.6);
            }
            &.mail {
                background: $primary-color;
                margin-right: 0;
                max-width: 100px;
                width: 100%;
                .icon.email {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            &.sub-item ul {
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                margin: 0;
                padding: 0;
                height: 0;
                width: 100%;
                background: #fff;
                box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.49);
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                opacity: 0;
                transition: all ease-in-out .2s;
                list-style: none;
                li {
                    padding: 10px 0px;
                    margin: 0px;
                    a {
                        color: rgba(0, 0, 0, 0.6);
                    }
                    &:hover {
                        background-color: $p-color;
                        a {
                            color: white;
                        }
                    }
                }
            }
            &.sub-item:hover ul {
                opacity: 1;
                top: 100%;
                height: auto;
            }
        }
        >li {
            &::before {
                content: "";
                height: 6px;
                position: absolute;
                width: 0%;
                background: $primary-color;
                margin: 0 auto;
                bottom: 0;
                transition: all ease-in .2s;
            }
            &.active::before {
                width: 50%;
                left: 20px;
            }
            &.active:hover &.active::before {
                width: 100%;
                left: 0;
            }
            &:hover {
                &::before {
                    width: 100%;
                    left: 0;
                }
                a {
                    color: #000;
                }
            }
        }
    }
    button.btn-menu {
        display: none;
        border: 0;
        width: 40px;
        height: 25px;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        z-index: 100;
        &:focus {
            outline: 1px dotted transparent;
        }
        .show_menu .btn-menu:focus {
            outline: none;
        }
        & .text {
            display: block;
            text-indent: 150%;
            white-space: nowrap;
            overflow: hidden;
        }
        & .bar,
        & .bar:before,
        & .bar:after {
            display: block;
            position: absolute;
            width: 30px;
            height: 5px;
            background-color: $primary-color;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        & .bar {
            top: 10px;
            left: 0;
        }
        & .bar:before {
            position: absolute;
            content: '';
            top: 10px;
            left: 0;
        }
        & .bar:after {
            position: absolute;
            content: '';
            top: -10px;
            left: 0;
        }
        .show & .bar {
            background-color: transparent;
        }
        .show & .bar:before {
            top: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .show & .bar:after {
            top: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    @media screen and (max-width:980px) {
        ul.enlaces {
            li {
                display: none !important;
            }
            button.btn-menu {
                display: block;
            }
        }
    }
}

@media (max-width: 900px){
    div.portadaSlick{
        margin-top: 70px;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    transition: width 0.3s ease-in;
    .show & {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 99;
    }
    nav {
        ul {
            list-style-type: none;
            position: relative;
            top: 20px;
            left: 50px;
            opacity: 0;
            transform: translateX(100px);
            transition: all 0.3s 0.2s ease-out;
            li.sub-item {
                &:hover,
                &:active {
                    &>ul {
                        opacity: 1;
                        display: block;
                        height: 100%;
                    }
                }
                &>ul {
                    opacity: 0;
                    display: none;
                    height: 0;
                    top: 0;
                    left: 0;
                    height: 0;
                }
            }
        }
        .show & ul {
            opacity: 1;
            transform: translateX(0);
        }
        & a {
            display: block;
            width: 200px;
            line-height: 42px;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            color: black;
        }
    }
    @media screen and (max-width:980px) {
        display: block;
    }
}

/* Header */

.main-header {
    @include bg;
    position: relative;
    min-height: 800px;
    height: -moz-max-content;
    height: max-content;
    article {
        @include bg;
        background-color: rgba(255, 255, 255, 0.78);
        position: absolute;
        bottom: 25%;
        left: 0;
        width: 50%;
        padding: 50px;
        height: -moz-max-content;
        height: max-content;
        z-index:99999;
        .titulo h1 {
            font-weight: 400;
            font-size: pt-to-rem(25);
        }
        @media(max-width: 1400px) {
            width: 65%;
            //z-index: 0;
        }
        @media(max-width: 900px) {
            width: 100%;
            padding: 5px;
            bottom: 5%;
            
            .titulo h1 {
                font-size: pt-to-rem(18);
                width: 75%;
            }
        }
    }
}

/* Footer */
/*header div.bx-wrapper div.bx-viewport{
    height: 655px !important;
}
header.sobreposicion div.bx-wrapper div.bx-viewport{
    height: 333px !important;
}*/

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
    justify-content: space-around;
    justify-items: space-around;
    align-content: center;
    align-items: center;
    margin-bottom: 4rem;
    padding: 0 15px;
    margin-top: 4rem;
    @media(max-width: 1100px) {
        grid-template-columns: 30% 40% 30%;
    }
    @media(max-width: 700px) {
        grid-template-columns: 100%;
    }
    .logo {
        img {
            width: 100%;
            max-width: 300px;
            @media(max-width: 1100px) {
                max-width: 100%;
            }
            @media(max-width: 700px) {
                max-width: 250px;
                margin: 12px auto;
                display: block;
            }
        }
    }
    .contacto {
        text-align: center;
        address {
            font-size: 1.5rem;
            font-style: normal;
            line-height: 150%;
            color: $gris-color;
            strong a {
                color: $gris-color;
                font-weight: 500;
            }
            @media(max-width: 980px) {
                font-size: 0.98em;
            }
        }
    }
    .enlaces {
        text-align: center;
        >div {
            margin: 15px 0;
            a {
                color: #000;
                font-size: 1rem;
                &.button.gris {
                    padding: 0.8rem 2.8rem;
                    border-width: 3px;
                    border-color: $gris-color;
                    color: $gris-color;
                    &:hover {
                        background-color: $gris-color;
                        color: white;
                    }
                }
            }
        }
    }
}
