
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700');

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html{
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
	font-size: 14px;
	overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    min-width: 320px;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    font-smoothing: antialiased;
}

article, aside, footer, header, nav, section{
    display: block;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #4183c4;
    text-decoration: none;
}

body ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0,0,0,.25);
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

body ::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
    border-radius: 0;
}

[type=reset], [type=submit], button, html [type=button]{
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

img {
    border-style: none;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child {
    margin-bottom: 0;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0;
}

h1 {
    min-height: 1rem;
    font-size: 2rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.28571429em;
    margin: calc(2rem - .14285714em) 0 1rem;
    font-weight: 700;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h3 {
    font-size: 1.28571429rem;
}

p {
    margin: 0 0 1em;
    line-height: 1.4285em;
}

i.icon, i.icons {
    font-size: 1em;
}

i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

i.icon.check:before {
    content: "\f00c";
}

i.icon:before {
    background: 0 0!important;
}

@font-face{font-family:Icons;src:url(themes/default/assets/fonts/icons.eot);src:url(themes/default/assets/fonts/icons.eot?#iefix) format('embedded-opentype'),url(themes/default/assets/fonts/icons.woff2) format('woff2'),url(themes/default/assets/fonts/icons.woff) format('woff'),url(themes/default/assets/fonts/icons.ttf) format('truetype'),url(themes/default/assets/fonts/icons.svg#icons) format('svg');font-style:normal;font-weight:400;font-variant:normal;text-decoration:inherit;text-transform:none}


.ui.form {
    font-size: 1rem;
    position: relative;
    max-width: 100%;
}

.ui.form .field {
    clear: both;
    margin: 0 0 1em;
}

.ui.form .field>label {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url], .ui.form textarea{
    width: 100%;
    vertical-align: top;
}

input[type=email], input[type=password], input[type=search], input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ui.form select {
    display: block;
    height: auto;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    padding: .62em 1em;
    color: rgba(0,0,0,.87);
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}

button, select {
    text-transform: none;
}

.ui.form .fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 -.5em 1em;
}

.ui.form .two.fields>.field, .ui.form .two.fields>.fields {
    width: 50%;
}

.ui.form .fields>.field:first-child {
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.form .fields>.field {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-left: .5em;
    padding-right: .5em;
}

.ui.form .fields .field {
    clear: both;
    margin: 0;
}


@media only screen and (max-width: 767px){

    .ui.form .fields {
        margin-bottom: 0;
    }

    .ui.form .fields {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .ui.form:not(.unstackable) .fields:not(.unstackable)>.eight.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.eleven.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.fifteen.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.five.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.four.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.fourteen.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.nine.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.seven.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.six.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.sixteen.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.ten.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.thirteen.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.three.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.twelve.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable)>.two.wide.field, .ui.form:not(.unstackable) .five.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .five.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .four.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .four.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .three.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .three.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .two.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .two.fields:not(.unstackable)>.fields{
        width: 100%!important;
        margin: 0 0 1em;
    }
}

.ui.red.button:active, .ui.red.buttons .button:active {
    background-color: #b21e1e;
    color: #fff;
    text-shadow: none;
}

.ui.red.button:hover, .ui.red.buttons .button:hover {
    background-color: #d01919;
    color: #fff;
    text-shadow: none;
}

.ui.red.button {
    -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
}

.ui.red.button, .ui.red.buttons .button {
    background-color: #db2828;
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.ui.active.button:active, .ui.button:active {
    background-color: #babbbc;
    background-image: '';
    color: rgba(0,0,0,.9);
    -webkit-box-shadow: 0 0 0 1px transparent inset,none;
    box-shadow: 0 0 0 1px transparent inset,none;
}

.ui.button:hover {
    background-color: #cacbcd;
    background-image: none;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    color: rgba(0,0,0,.8);
}

.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}
