@charset "UTF-8";
/* Varios */
img {
  max-width: 100%; }

p {
  max-width: 800px;
  line-height: 150%; }

/* Titulos */
.titulo {
  position: relative;
  margin: 15px 0;
  padding: 0; }
.titulo * {
  position: relative;
  display: block;
  margin: 1.5rem 0px;
  text-transform: uppercase;
  color: #fc7734;
  font-weight: 400;
  font-size: 2em; }
.titulo *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 80px;
  height: 4px;
  bottom: -12px;
  left: 0;
  border: 2px #fc7734 solid; }
.titulo.alt {
  text-align: center; }
.titulo.alt * {
  display: inline-block; }
.titulo.alt *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 40px;
  height: 3px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px #4D4D4D solid; }

/* Botones */
.button {
  display: inline-block;
  border: 1px #fc7734 solid;
  border-radius: 26px;
  padding: 0.71rem 2.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fc7734 !important;
  transition: 0.5s ease all; }
.button:hover {
  background-color: #fc7734;
  color: white !important; }
.button.gris {
  color: #4D4D4D;
  border-color: #4D4D4D; }
.button.gris:hover {
  color: white;
  background-color: #4D4D4D; }

/* Reseña */
.resenna {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  min-height: 400px;
  text-align: center;
  padding: 0 15px;
  margin: 25px 0px; }
@media (max-width: 800px) {
  .resenna {
    padding: 0 5px; } }
.resenna .texto {
  margin: 10rem auto;
  max-width: 800px; }
.resenna .texto p {
  font-size: 1.2rem;
  color: black;
  font-weight: 100;
  margin-bottom: 3em; }
@media (max-width: 800px) {
  .resenna .texto p {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0px 14px 10px 11px; } }
.resenna .linea-punto {
  position: absolute;
  display: block;
  content: " ";
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1.5px;
  border: 0.5px #fc7734 solid; }
.resenna .linea-punto::before {
  position: absolute;
  display: block;
  content: " ";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #fc7734; }

h1 {
  font-family: 'Montserrat','san-serif'; }

p {
  font-family: 'Montserrat','san-serif'; }

.main-header {
  min-height: 80px;
  max-height: 80px;
  background-image: none !important;
  z-index: 100; }

.container {
  position: relative;
  padding-top: 25%; }
.container::before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-size: cover;
  background: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -15%; }
.container .contain {
  position: relative;
  z-index: 10;
  margin: 0 auto -18rem auto;
  padding: 80px;
  width: 90%;
  min-width: 320px;
  max-width: 1200px;
  background: #fff;
  text-align: center; }
@media (max-width: 1000px) {
  .container .contain {
    padding: 80px 40px; } }
@media (max-width: 540px) {
  .container .contain {
    padding: 80px 20px; } }
@media (max-width: 540px) {
  .container .contain {
    padding: 80px 10px; } }
.container .contain h2 {
  color: #fc7734;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 60px; }
@media (max-width: 780px) {
  .container .contain h2 {
    font-size: 2rem; } }
.container .contain p {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 100;
  margin: 0rem auto 3rem auto;
  max-width: 850px;
  line-height: 150%; }
.container .contain div.two-fields {
  display: grid;
  grid-template-columns: repeat(2, 50%); }
@media (max-width: 1000px) {
  .container .contain div.two-fields {
    grid-template-columns: 100%; } }
.container .contain div.two-fields > div {
  padding: 40px; }
@media (max-width: 540px) {
  .container .contain div.two-fields > div {
    padding: 0px;
    padding-bottom: 40px; } }
.container .contain div.two-fields > div h3 {
  color: #fc7734;
  font-size: 2.3rem;
  margin-bottom: 30px;
  font-weight: 400; }
@media (max-width: 780px) {
  .container .contain div.two-fields > div h3 {
    font-size: 2rem; } }
.container .contain div.two-fields > div p {
  margin-bottom: 0; }

section.cover {
  margin-top: 4rem;
  background: url("../images/nosotros.jpg");
  min-height: 300px;
  background-size: cover;
  background-position: center center; }

section.items {
  max-width: 900px;
  margin: 80px auto; }
section.items h3 {
  color: #D57A00;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 2rem;
  font-weight: normal;
  text-align: center; }
@media (max-width: 780px) {
  section.items h3 {
    font-size: 2rem; } }
section.items ul {
  list-style: none; }
section.items ul li::before {
  display: block;
  content: ' ';
  position: absolute;
  top: 7px;
  left: -19px;
  width: 8px;
  height: 8px;
  background-color: #fc7734;
  border-radius: 100%; }
section.items ul li {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 20px;
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: lighter; }

section.purposes {
  background: #fc7734;
  color: #fff !important;
  padding: 40px; }
@media (max-width: 580px) {
  section.purposes {
    padding: 40px 10px; } }
section.purposes h3.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 3rem auto; }
section.purposes div.contain-p {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  max-width: 1400px;
  margin: 0 auto; }
@media (max-width: 990px) {
  section.purposes div.contain-p {
    grid-template-columns: 100%; } }
section.purposes div.contain-p div {
  padding: 40px;
  text-align: center; }
@media (max-width: 1140px) {
  section.purposes div.contain-p div {
    padding: 20px; } }
@media (max-width: 990px) {
  section.purposes div.contain-p div {
    padding: 40px; } }
@media (max-width: 580px) {
  section.purposes div.contain-p div {
    padding: 10px; } }
section.purposes div.contain-p div h3.sub-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem; }
section.purposes div.contain-p div p {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8); }
section.purposes div.contain-p div p b {
  color: #fff; }

/*# sourceMappingURL=about_us.css.map */
