@charset "UTF-8";
/* Varios */
img {
  max-width: 100%; }

p {
  max-width: 800px;
  line-height: 150%; }

/* Titulos */
.titulo {
  position: relative;
  margin: 15px 0;
  padding: 0; }
.titulo * {
  position: relative;
  display: block;
  margin: 1.5rem 0px;
  text-transform: uppercase;
  color: #fc7734;
  font-weight: 400;
  font-size: 2em; }
.titulo *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 80px;
  height: 4px;
  bottom: -12px;
  left: 0;
  border: 2px #fc7734 solid; }
.titulo.alt {
  text-align: center; }
.titulo.alt * {
  display: inline-block; }
.titulo.alt *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 40px;
  height: 3px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px #4D4D4D solid; }

/* Botones */
.button {
  display: inline-block;
  border: 1px #fc7734 solid;
  border-radius: 26px;
  padding: 0.71rem 2.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fc7734;
  transition: 0.5s ease all; }
.button:hover {
  background-color: #fc7734;
  color: white; }
.button.gris {
  color: #4D4D4D;
  border-color: #4D4D4D; }
.button.gris:hover {
  color: white;
  background-color: #4D4D4D; }

/* Reseña */
.resenna {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  min-height: 400px;
  text-align: center;
  padding: 0 15px;
  margin: 25px 0px; }
@media (max-width: 800px) {
  .resenna {
    padding: 0 5px; } }
.resenna .texto {
  margin: 10rem auto;
  max-width: 800px; }
.resenna .texto p {
  font-size: 1.2rem;
  color: black;
  font-weight: 100;
  margin-bottom: 3em; }
@media (max-width: 800px) {
  .resenna .texto p {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0px 14px 10px 11px; } }
.resenna .linea-punto {
  position: absolute;
  display: block;
  content: " ";
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1.5px;
  border: 0.5px #fc7734 solid; }
.resenna .linea-punto::before {
  position: absolute;
  display: block;
  content: " ";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #fc7734; }

.main-header {
  max-height: 80px;
  min-height: 80px;
  z-index: 2;
  background: #fff;
  background-image: none !important; }

.navbar ul.enlaces li.active::before {
  left: 23%; }

section.loader {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  z-index: 30;
  top: 0; }
section.loader ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex; }
section.loader ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  background: #F96161;
  margin: 0 5px;
  border-radius: 50px;
  animation: animate 1.4s linear infinite; }
section.loader ul li:nth-child(1) {
  animation-delay: 0s; }
section.loader ul li:nth-child(2) {
  animation-delay: -1.2s; }
section.loader ul li:nth-child(3) {
  animation-delay: -1s; }
section.loader ul li:nth-child(4) {
  animation-delay: -.8s; }
section.loader ul li:nth-child(5) {
  animation-delay: -.6s; }
@keyframes animate {
  0% {
    transform: translateY(0); }
  60% {
    transform: translateY(0); }
  80% {
    transform: translateY(-40px); }
  100% {
    transform: translateY(0); } }
section.cover {
  background: #fff;
  background-position: center;
  background-size: cover;
  height: 50%;
  background-repeat: no-repeat; }
section.carousel {
  position: relative; }
section.carousel div.blur {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(241, 128, 7, 0.5); }
section.carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }
section.carousel .carousel-cont {
  display: grid;
  grid-template-columns: 100%;
  padding: 3rem 0rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }
section.carousel .carousel-cont > div {
  padding: 0 80px;
  z-index: 1; }
section.carousel .carousel-cont > div h2 {
  margin: 0px auto 1.5rem auto;
  max-width: 800px;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.51); }
@media (max-width: 780px) {
  section.carousel .carousel-cont > div h2 {
    font-size: 1.5rem; } }
section.carousel .carousel-cont > div h3 {
  margin: 0;
  font-size: 34px;
  font-style: oblique;
  text-align: center;
  font-weight: normal; }
@media (max-width: 1290px) {
  section.carousel .carousel-cont > div h3 {
    font-size: 31px; } }
@media (max-width: 740px) {
  section.carousel .carousel-cont > div h3 {
    font-size: 25px; } }
section.carousel .carousel-cont > div > span {
  display: block;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  padding: 20px 0;
  background: #fff;
  min-width: 18%;
  margin: 6px auto;
  color: #fc7734;
  max-width: 20%;
  width: auto; }
@media (max-width: 1290px) {
  section.carousel .carousel-cont > div > span {
    font-size: 21px; } }
@media (max-width: 1100px) {
  section.carousel .carousel-cont > div > span {
    max-width: 30%; } }
@media (max-width: 660px) {
  section.carousel .carousel-cont > div > span {
    max-width: 50%; } }
@media (max-width: 450px) {
  section.carousel .carousel-cont > div > span {
    max-width: 60%; } }
@media (max-width: 740px) {
  section.carousel .carousel-cont > div > span {
    font-size: 18px; } }
section.carousel .carousel-cont > div .button.white {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  border: 0;
  padding: 12px 80px;
  border-radius: 32px;
  font-size: 31px;
  text-transform: uppercase;
  cursor: pointer;
  color: #D57A00;
  transition: all ease-in-out .2s;
  background: #fff;
  font-weight: bold; }
section.carousel .carousel-cont > div .button.white:hover {
  background: rgba(255, 255, 255, 0.8); }
@media (max-width: 1290px) {
  section.carousel .carousel-cont > div .button.white {
    font-size: 28px; } }
@media (max-width: 740px) {
  section.carousel .carousel-cont > div .button.white {
    font-size: 22px; } }
@media (max-width: 1290px) {
  section.carousel .carousel-cont > div {
    padding: 0 20px; } }
@media (max-width: 600px) {
  section.carousel .carousel-cont > div {
    padding: 0px; } }
@media (max-width: 1290px) {
  section.carousel .carousel-cont {
    padding: 60px; } }
@media (max-width: 1024px) {
  section.carousel .carousel-cont {
    padding: 60px 20px; } }
@media (max-width: 740px) {
  section.carousel .carousel-cont {
    padding: 20px; } }
@media (max-width: 900px) {
  section.carousel .carousel-cont {
    grid-template-columns: 100%;
    grid-gap: 10px;
    margin-top: 70px; } }
section.carouselLineasdeintervencion {
  height: 300px; }
section.carouselLineasdeintervencion .carousel-cont div h2 {
  margin: 5rem auto 1.5rem auto; }
section.carouselProyectos {
  height: 300px; }
section.carouselProyectos .carousel-cont div h2 {
  margin: 5rem auto 1.5rem auto; }
section.carouselNoticias {
  height: 300px; }
section.carouselNoticias .carousel-cont div h2 {
  margin: 5rem auto 1.5rem auto; }
section.text {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  padding: 60px 0; }
section.text .body-text {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 2rem;
  color: rgba(0, 0, 0, 0.7);
  text-align: justify;
  letter-spacing: 0px;
  word-wrap: break-word;
  font-size: 1.5rem;
  font-weight: 300;
  color: #4D4D4D;
  font-family: 'Montserrat', sans-serif; }
section.text .body-text blockquote {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: #D57A00; }
@media (max-width: 600px) {
  section.text .body-text blockquote {
    margin: 12px 4px; } }
section.text .body-text p {
  margin: 0 auto;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #4D4D4D;
  font-family: 'Montserrat', sans-serif; }
section.text .body-text p span {
  font-family: 'Montserrat', sans-serif !important; }
section.text .body-text blockquote::first-letter, section.text .body-text h2::first-letter, section.text .body-text h3::first-letter {
  text-transform: capitalize !important; }
section.text .body-text a {
  color: #D57A00 !important; }
section.text .body-text h2 {
  font-size: 34px;
  font-weight: 700;
  color: #D57A00;
  font-family: 'Montserrat', sans-serif; }
@media (max-width: 840px) {
  section.text .body-text h2 {
    font-size: 30px; } }
@media (max-width: 550px) {
  section.text .body-text h2 {
    font-size: 26px; } }
section.text .body-text h3 {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #D57A00; }
@media (max-width: 840px) {
  section.text .body-text h3 {
    font-size: 26px; } }
@media (max-width: 550px) {
  section.text .body-text h3 {
    font-size: 22px; } }
section.text .body-text ul, section.text .body-text ol {
  padding-left: 20px;
  list-style: none;
  margin-left: 8%;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem; }
section.text .body-text ul a, section.text .body-text ol a {
  color: #fc7734; }
section.text .body-text ul li, section.text .body-text ol li {
  line-height: 27px;
  word-break: break-all;
  padding-bottom: 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }
@media (max-width: 840px) {
  section.text .body-text ul, section.text .body-text ol {
    font-size: 22px; } }
@media (max-width: 550px) {
  section.text .body-text ul, section.text .body-text ol {
    font-size: 18px; } }
section.text .body-text ul li:before {
  content: '• ';
  display: inline-block;
  color: #fc7734;
  margin-right: 5px; }
section.text .body-text ol {
  counter-reset: line; }
section.text .body-text ol li:before {
  counter-increment: line;
  content: counter(line) ". ";
  display: inline-block;
  color: #fc7734;
  font-weight: 400;
  margin-right: 5px; }
section.text .body-text ol li.hightlight {
  color: #fc7734; }
section.text img {
  width: 100%;
  margin: 50px auto; }
section.cuadros.categorias {
  display: grid;
  grid-template-columns: repeat(3, 460px);
  height: auto;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem 15px;
  margin-top: 10%;
  /*@media (max-width:980px){				
      grid-template-columns: repeat(2, auto);
  }			
  @media (max-width:700px){				
      grid-template-columns: repeat(1, auto);
  }*/ }
section.cuadros.categorias .categoria {
  position: relative;
  width: 100%;
  min-width: 300px;
  min-height: 400px;
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer; }
section.cuadros.categorias .categoria::before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
section.cuadros.categorias .categoria .content {
  position: absolute;
  bottom: 15%;
  left: 50%;
  padding-left: 30px;
  width: 100%;
  transform: translateX(-50%);
  color: white; }
section.cuadros.categorias .categoria .content .icon {
  position: absolute;
  top: -30px;
  left: 20px;
  width: 60px;
  height: 60px; }
section.cuadros.categorias .categoria .content h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif; }
section.cuadros.categorias .categoria .content h3::before {
  display: block;
  content: ' ';
  position: absolute;
  bottom: -12px;
  left: 30px;
  width: 44px;
  height: 1px;
  border: 3px solid white; }
section.cuadros.categorias .categoria .content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif; }
section.cuadros.categorias .categoria .content h3::before {
  border-radius: 5px; }
@media (max-width: 1380px) {
  section.cuadros.categorias {
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: initial; }
  section.cuadros.categorias article {
    height: 380px; }
  section.cuadros.categorias .content h3 {
    font-size: 2.8rem !important; } }
@media (max-width: 1200px) {
  section.cuadros.categorias {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: initial; }
  section.cuadros.categorias article {
    height: 350px; }
  section.cuadros.categorias .content h3 {
    font-size: 2.3rem !important; } }
@media (max-width: 1080px) {
  section.cuadros.categorias {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 300px); } }
@media (max-width: 1024px) {
  section.cuadros.categorias {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: initial; }
  section.cuadros.categorias article {
    height: 250px; }
  section.cuadros.categorias .categoria {
    min-width: auto;
    min-height: auto; }
  section.cuadros.categorias .content h3 {
    font-size: 1.8rem !important; } }
@media (max-width: 860px) {
  section.cuadros.categorias {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: initial; }
  section.cuadros.categorias article {
    height: 200px; }
  section.cuadros.categorias .content h3 {
    font-size: 1.4rem !important; } }
@media (max-width: 768px) {
  section.cuadros.categorias {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: initial; }
  section.cuadros.categorias article {
    height: 250px; }
  section.cuadros.categorias .content h3 {
    font-size: 1.8rem !important; } }
@media (max-width: 600px) {
  section.cuadros.categorias {
    grid-template-columns: repeat(1, 315px);
    grid-template-rows: initial; }
  section.cuadros.categorias article {
    height: 315px; }
  section.cuadros.categorias .content h3 {
    font-size: 2.3rem !important; } }
section.more-news {
  max-width: 900px;
  margin: 24px auto; }
section.more-news > div {
  display: grid;
  grid-template-columns: 50% 50%; }
section.more-news > div > div:nth-child(1) {
  border-right: 3px solid #D57A00;
  text-align: right;
  padding-right: 10px; }
section.more-news > div > div {
  transform: skew(-13deg); }
section.more-news > div > div .inverted {
  padding: 36px;
  transform: skew(13deg); }
section.more-news > div > div .inverted.left {
  text-align: left;
  padding-left: 50px; }
section.more-news > div > div .inverted h3 {
  color: #D57A00 !important; }
section.more-news > div > div .inverted h3 a {
  color: #D57A00 !important;
  text-transform: uppercase; }
section.more-news > div > div .inverted h3.title a {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 160%; }
section.more-news > div > div .inverted h3.title:hover {
  cursor: pointer;
  text-decoration: underline; }
section.more-news > div > div .inverted label.date {
  font-size: 20px;
  font-weight: lighter; }
section.more-news > div.one {
  grid-template-columns: 75%; }
@media (max-width: 780px) {
  section.more-news > div {
    grid-template-columns: 100%; }
  section.more-news > div > div:nth-child(1) {
    border-right: none; }
  section.more-news > div > div {
    transform: none !important; }
  section.more-news > div .inverted {
    transform: none !important; } }
section.author {
  background: #D57A00; }
section.author > div {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px 0; }
section.author > div .author-span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 52px;
  left: 0;
  z-index: 1;
  background: silver; }
section.author > div .author-span {
  display: block;
  max-width: 900px;
  margin: 0 auto; }
section.author > div .author-span span {
  display: block;
  padding-left: 150px;
  color: #fff;
  font-size: 20px; }
section.author > div .author-desc {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 140px auto;
  align-items: center; }
@media (max-width: 500px) {
  section.author > div .author-desc {
    grid-template-columns: 100px 70%; } }
@media (max-width: 360px) {
  section.author > div .author-desc {
    grid-template-columns: 100px 68%; } }
section.author > div figure.avatar {
  margin: 0;
  z-index: 3;
  position: relative;
  top: -10px; }
section.author > div figure.avatar img {
  object-fit: cover;
  max-width: 160px;
  max-height: 120px;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(24% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin: 0 auto;
  background: #fff; }
section.author > div .description-avatar {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6); }
@media (max-width: 500px) {
  section.author > div .description-avatar {
    font-size: 16px; } }
section.author > div .description-avatar .description-text {
  margin: 12px 0;
  padding: 0px 20px;
  color: #fff; }
@media (max-width: 500px) {
  section.author > div .description-avatar .description-text {
    font-size: 16px;
    padding: 0px 10px; } }
section.author > div .description-avatar .description-text b {
  display: block;
  background: #fff;
  color: #D57A00;
  transform: skew(-8deg);
  padding: 5px 30px;
  z-index: 1;
  width: 240px;
  position: relative;
  left: -40px; }
@media (max-width: 500px) {
  section.author > div .description-avatar .description-text b {
    width: 250px; } }
section.author > div .description-avatar .description-text b span {
  transform: skew(8deg); }
section.author > div .description-avatar .social-av {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0px 20px; }
@media (max-width: 500px) {
  section.author > div .description-avatar .social-av {
    font-size: 16px;
    padding: 0px 10px; } }
section.author > div .description-avatar .social-av li {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0 5px; }
section.author > div .description-avatar .social-av li a.icon {
  display: block;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=blog.css.map */
