@charset "UTF-8";
/* Varios */
img {
  max-width: 100%; }

p {
  max-width: 800px;
  line-height: 150%; }

/* Titulos */
.titulo {
  position: relative;
  margin: 15px 0;
  padding: 0; }
.titulo * {
  position: relative;
  display: block;
  margin: 1.5rem 0px;
  text-transform: uppercase;
  color: #fc7734;
  font-weight: 400;
  font-size: 2em; }
.titulo *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 80px;
  height: 4px;
  bottom: -12px;
  left: 0;
  border: 2px #fc7734 solid; }
.titulo.alt {
  text-align: center; }
.titulo.alt * {
  display: inline-block; }
.titulo.alt *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 40px;
  height: 3px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px #4D4D4D solid; }

/* Botones */
.button {
  display: inline-block;
  border: 1px #fc7734 solid;
  border-radius: 26px;
  padding: 0.71rem 2.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fc7734 !important;
  transition: 0.5s ease all; }
.button:hover {
  background-color: #fc7734;
  color: white !important; }
.button.gris {
  color: #4D4D4D;
  border-color: #4D4D4D; }
.button.gris:hover {
  color: white;
  background-color: #4D4D4D; }

/* Reseña */
.resenna {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  min-height: 400px;
  text-align: center;
  padding: 0 15px;
  margin: 25px 0px; }
@media (max-width: 800px) {
  .resenna {
    padding: 0 5px; } }
.resenna .texto {
  margin: 10rem auto;
  max-width: 800px; }
.resenna .texto p {
  font-size: 1.2rem;
  color: black;
  font-weight: 100;
  margin-bottom: 3em; }
@media (max-width: 800px) {
  .resenna .texto p {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0px 14px 10px 11px; } }
.resenna .linea-punto {
  position: absolute;
  display: block;
  content: " ";
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1.5px;
  border: 0.5px #fc7734 solid; }
.resenna .linea-punto::before {
  position: absolute;
  display: block;
  content: " ";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #fc7734; }

h1, p {
  font-family: 'Montserrat','san-serif';
  color: #000000; }

.encausa.header, .encausa .header {
  font-size: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0px 0px 0px 0px;
  min-height: 300px; }
.encausa.header.sobreposicion, .encausa .header.sobreposicion {
  position: relative; }
.encausa.header.sobreposicion .bg, .encausa .header.sobreposicion .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: ' ';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
.encausa.header.sobreposicion .content, .encausa .header.sobreposicion .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 4em 1em;
  width: 75%;
  max-width: 1200px;
  min-width: 300px;
  text-align: center; }
.encausa.header.sobreposicion .content > *, .encausa .header.sobreposicion .content > * {
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px; }
.encausa.header.sobreposicion .content h1, .encausa.header.sobreposicion .content p, .encausa .header.sobreposicion .content h1, .encausa .header.sobreposicion .content p {
  max-width: 800px; }
.encausa.header.sobreposicion .content h1, .encausa .header.sobreposicion .content h1 {
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.3em !important;
  color: #fc7734; }
.encausa.header.sobreposicion .content p, .encausa .header.sobreposicion .content p {
  font-size: 1.5em;
  font-weight: 100;
  color: black;
  text-align: center !important;
  font-family: 'Montserrat','san-serif'; }
@media screen and (max-width: 780px) {
  .encausa.header.sobreposicion, .encausa .header.sobreposicion {
    font-size: 0.8rem; }
  .encausa.header.sobreposicion .content h1, .encausa .header.sobreposicion .content h1 {
    margin-bottom: 1em; } }

.encausa.lineas.categorias, .encausa .lineas.categorias {
  display: grid;
  grid-template-columns: repeat(3, 460px);
  grid-template-rows: repeat(2, 460px);
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem 15px;
  margin-top: 10%;
  			/*@media (max-width:980px){				
  				grid-template-columns: repeat(2, auto);
  			}			
  			@media (max-width:700px){				
  				grid-template-columns: repeat(1, auto);
              }*/ }
.encausa.lineas.categorias .categoria, .encausa .lineas.categorias .categoria {
  position: relative;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer; }
.encausa.lineas.categorias .categoria::before, .encausa .lineas.categorias .categoria::before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.encausa.lineas.categorias .categoria .content, .encausa .lineas.categorias .categoria .content {
  position: absolute;
  bottom: 15%;
  left: 50%;
  padding-left: 30px;
  width: 100%;
  transform: translateX(-50%);
  color: white; }
.encausa.lineas.categorias .categoria .content .icon, .encausa .lineas.categorias .categoria .content .icon {
  position: absolute;
  top: -30px;
  left: 20px;
  width: 60px;
  height: 60px; }
.encausa.lineas.categorias .categoria .content h3, .encausa .lineas.categorias .categoria .content h3 {
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif; }
.encausa.lineas.categorias .categoria .content h3::before, .encausa .lineas.categorias .categoria .content h3::before {
  display: block;
  content: ' ';
  position: absolute;
  bottom: -12px;
  left: 30px;
  width: 44px;
  height: 1px;
  border: 3px solid white; }
.encausa.lineas.categorias .categoria .content h4, .encausa .lineas.categorias .categoria .content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif; }
.encausa.lineas.categorias .categoria .content h3::before, .encausa .lineas.categorias .categoria .content h3::before {
  border-radius: 5px; }
@media (max-width: 1380px) {
  .encausa.lineas.categorias, .encausa .lineas.categorias {
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(2, 380px); }
  .encausa.lineas.categorias .content h3, .encausa .lineas.categorias .content h3 {
    font-size: 2.8rem !important; } }
@media (max-width: 1200px) {
  .encausa.lineas.categorias, .encausa .lineas.categorias {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 350px); }
  .encausa.lineas.categorias .content h3, .encausa .lineas.categorias .content h3 {
    font-size: 2.3rem !important; } }
@media (max-width: 1080px) {
  .encausa.lineas.categorias, .encausa .lineas.categorias {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 300px); } }
@media (max-width: 1024px) {
  .encausa.lineas.categorias, .encausa .lineas.categorias {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 250px); }
  .encausa.lineas.categorias .categoria, .encausa .lineas.categorias .categoria {
    min-width: auto;
    min-height: auto; }
  .encausa.lineas.categorias .content h3, .encausa .lineas.categorias .content h3 {
    font-size: 1.8rem !important; } }
@media (max-width: 860px) {
  .encausa.lineas.categorias, .encausa .lineas.categorias {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px); }
  .encausa.lineas.categorias .content h3, .encausa .lineas.categorias .content h3 {
    font-size: 1.4rem !important; } }
@media (max-width: 768px) {
  .encausa.lineas.categorias, .encausa .lineas.categorias {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(3, 250px); }
  .encausa.lineas.categorias .content h3, .encausa .lineas.categorias .content h3 {
    font-size: 1.8rem !important; } }
@media (max-width: 600px) {
  .encausa.lineas.categorias, .encausa .lineas.categorias {
    grid-template-columns: repeat(1, 315px);
    grid-template-rows: repeat(6, 315px); }
  .encausa.lineas.categorias .content h3, .encausa .lineas.categorias .content h3 {
    font-size: 2.3rem !important; } }

.encausa.balance.categorias, .encausa .balance.categorias {
  display: grid;
  grid-template-columns: repeat(3, 460px);
  grid-template-rows: repeat(3, 460px);
  justify-content: center;
  column-gap: 0rem;
  row-gap: 0rem;
  padding: 1rem 15px;
  margin-top: 10%; }
.encausa.balance.categorias .categoria, .encausa .balance.categorias .categoria {
  position: relative;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
.encausa.balance.categorias .categoria::before, .encausa .balance.categorias .categoria::before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.encausa.balance.categorias .categoria .content, .encausa .balance.categorias .categoria .content {
  position: absolute;
  bottom: 15%;
  left: 50%;
  padding-left: 30px;
  width: 100%;
  transform: translateX(-50%);
  color: #333333; }
.encausa.balance.categorias .categoria .content .number, .encausa .balance.categorias .categoria .content .number {
  color: #333333;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  top: 5px; }
.encausa.balance.categorias .categoria .content h3.orange, .encausa .balance.categorias .categoria .content h3.orange {
  font-weight: 100;
  font-size: 185%;
  width: 85%;
  line-height: 34px;
  font-style: italic; }
.encausa.balance.categorias .categoria .content h3.orange::before, .encausa .balance.categorias .categoria .content h3.orange::before {
  display: block;
  content: ' ';
  position: absolute;
  bottom: -12px;
  left: 30px;
  top: 40px;
  width: 60px;
  height: 1px;
  border: 3px solid rgba(252, 119, 52, 0.7); }
.encausa.balance.categorias .categoria .content h3.white, .encausa .balance.categorias .categoria .content h3.white {
  font-size: 185%;
  font-weight: 100;
  width: 85%;
  line-height: 34px;
  font-style: italic; }
.encausa.balance.categorias .categoria .content h3.white::before, .encausa .balance.categorias .categoria .content h3.white::before {
  display: block;
  content: ' ';
  position: absolute;
  bottom: -12px;
  top: 40px;
  left: 30px;
  width: 60px;
  height: 1px;
  border: 3px solid white; }
.encausa.balance.categorias .categoria .content-2, .encausa .balance.categorias .categoria .content-2 {
  position: absolute;
  bottom: 15%;
  left: 50%;
  padding-left: 30px;
  width: 100%;
  transform: translateX(-50%);
  color: white;
  top: 20%; }
.encausa.balance.categorias .categoria .content-2 .number, .encausa .balance.categorias .categoria .content-2 .number {
  color: white;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  top: -10px; }
.encausa.balance.categorias .categoria .content-2 h3.orange, .encausa .balance.categorias .categoria .content-2 h3.orange {
  margin-top: 5px;
  font-size: 185%;
  font-weight: 100;
  width: 85%;
  line-height: 34px;
  font-style: italic; }
.encausa.balance.categorias .categoria .content-2 h3.orange::before, .encausa .balance.categorias .categoria .content-2 h3.orange::before {
  display: block;
  content: ' ';
  position: absolute;
  bottom: -12px;
  top: 25px;
  left: 30px;
  width: 60px;
  height: 1px;
  border: 3px solid rgba(252, 119, 52, 0.7); }
.encausa.balance.categorias .categoria .content-2 h3.white, .encausa .balance.categorias .categoria .content-2 h3.white {
  margin-top: 5px;
  font-size: 185%;
  font-weight: 100;
  width: 85%;
  line-height: 34px;
  font-style: italic; }
.encausa.balance.categorias .categoria .content-2 h3.white::before, .encausa .balance.categorias .categoria .content-2 h3.white::before {
  display: block;
  content: ' ';
  position: absolute;
  bottom: -12px;
  top: 25px;
  left: 30px;
  width: 60px;
  height: 1px;
  border: 3px solid white; }
@media (max-width: 1380px) {
  .encausa.balance.categorias, .encausa .balance.categorias {
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(3, 380px); }
  .encausa.balance.categorias .content, .encausa .balance.categorias .content {
    bottom: 20% !important; }
  .encausa.balance.categorias .content h3.orange, .encausa.balance.categorias .content h3.white, .encausa .balance.categorias .content h3.orange, .encausa .balance.categorias .content h3.white {
    font-size: 155% !important;
    width: 70% !important; }
  .encausa.balance.categorias .content-2 h3.orange, .encausa.balance.categorias .content-2 h3.white, .encausa .balance.categorias .content-2 h3.orange, .encausa .balance.categorias .content-2 h3.white {
    font-size: 155% !important;
    width: 70% !important; } }
@media (max-width: 1200px) {
  .encausa.balance.categorias, .encausa .balance.categorias {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 350px); }
  .encausa.balance.categorias .content, .encausa .balance.categorias .content {
    bottom: 20% !important; }
  .encausa.balance.categorias .content h3.orange, .encausa.balance.categorias .content h3.white, .encausa .balance.categorias .content h3.orange, .encausa .balance.categorias .content h3.white {
    font-size: 140% !important;
    width: 70% !important; }
  .encausa.balance.categorias .content-2 h3.orange, .encausa.balance.categorias .content-2 h3.white, .encausa .balance.categorias .content-2 h3.orange, .encausa .balance.categorias .content-2 h3.white {
    font-size: 140% !important;
    width: 70% !important; } }
@media (max-width: 1080px) {
  .encausa.balance.categorias, .encausa .balance.categorias {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px); }
  .encausa.balance.categorias .content, .encausa .balance.categorias .content {
    top: 15% !important; }
  .encausa.balance.categorias .content h3.orange, .encausa.balance.categorias .content h3.white, .encausa .balance.categorias .content h3.orange, .encausa .balance.categorias .content h3.white {
    font-size: 130% !important;
    width: 90% !important; }
  .encausa.balance.categorias .content-2 h3.orange, .encausa.balance.categorias .content-2 h3.white, .encausa .balance.categorias .content-2 h3.orange, .encausa .balance.categorias .content-2 h3.white {
    font-size: 130% !important;
    width: 90% !important; } }
@media (max-width: 1024px) {
  .encausa.balance.categorias, .encausa .balance.categorias {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px); }
  .encausa.balance.categorias .content, .encausa .balance.categorias .content {
    top: 15% !important; }
  .encausa.balance.categorias .content h3.orange, .encausa.balance.categorias .content h3.white, .encausa .balance.categorias .content h3.orange, .encausa .balance.categorias .content h3.white {
    font-size: 16px !important;
    width: 90% !important;
    line-height: 21px !important; }
  .encausa.balance.categorias .content-2 h3.orange, .encausa.balance.categorias .content-2 h3.white, .encausa .balance.categorias .content-2 h3.orange, .encausa .balance.categorias .content-2 h3.white {
    font-size: 16px !important;
    width: 90% !important;
    line-height: 21px !important; }
  .encausa.balance.categorias .categoria, .encausa .balance.categorias .categoria {
    min-width: auto;
    min-height: auto; } }
@media (max-width: 860px) {
  .encausa.balance.categorias, .encausa .balance.categorias {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px); }
  .encausa.balance.categorias .content, .encausa .balance.categorias .content {
    top: 10% !important; }
  .encausa.balance.categorias .content .number, .encausa .balance.categorias .content .number {
    top: 15px !important;
    font-size: 31px !important; }
  .encausa.balance.categorias .content h3.orange, .encausa.balance.categorias .content h3.white, .encausa .balance.categorias .content h3.orange, .encausa .balance.categorias .content h3.white {
    font-size: 15px !important;
    width: 90% !important;
    line-height: 18px !important; }
  .encausa.balance.categorias .content-2, .encausa .balance.categorias .content-2 {
    top: 17% !important; }
  .encausa.balance.categorias .content-2 .number, .encausa .balance.categorias .content-2 .number {
    top: 0px !important;
    font-size: 31px !important; }
  .encausa.balance.categorias .content-2 h3.orange, .encausa.balance.categorias .content-2 h3.white, .encausa .balance.categorias .content-2 h3.orange, .encausa .balance.categorias .content-2 h3.white {
    font-size: 15px !important;
    width: 90% !important;
    line-height: 18px !important; }
  .encausa.balance.categorias .categoria, .encausa .balance.categorias .categoria {
    min-width: auto;
    min-height: auto; } }
@media (max-width: 768px) {
  .encausa.balance.categorias, .encausa .balance.categorias {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(5, 250px); }
  .encausa.balance.categorias .content, .encausa .balance.categorias .content {
    top: 10% !important; }
  .encausa.balance.categorias .content .number, .encausa .balance.categorias .content .number {
    top: 7px !important;
    font-size: 50px !important; }
  .encausa.balance.categorias .content h3.orange, .encausa.balance.categorias .content h3.white, .encausa .balance.categorias .content h3.orange, .encausa .balance.categorias .content h3.white {
    font-size: 130% !important;
    width: 90% !important;
    line-height: 20px !important; }
  .encausa.balance.categorias .content-2, .encausa .balance.categorias .content-2 {
    top: 17% !important; }
  .encausa.balance.categorias .content-2 .number, .encausa .balance.categorias .content-2 .number {
    top: -7px !important;
    font-size: 50px !important; }
  .encausa.balance.categorias .content-2 h3.orange, .encausa.balance.categorias .content-2 h3.white, .encausa .balance.categorias .content-2 h3.orange, .encausa .balance.categorias .content-2 h3.white {
    font-size: 130% !important;
    width: 90% !important;
    line-height: 20px !important; }
  .encausa.balance.categorias .categoria, .encausa .balance.categorias .categoria {
    min-width: auto;
    min-height: auto; } }
@media (max-width: 600px) {
  .encausa.balance.categorias, .encausa .balance.categorias {
    grid-template-columns: repeat(1, 315px);
    grid-template-rows: repeat(9, 315px); }
  .encausa.balance.categorias .content, .encausa .balance.categorias .content {
    top: 10% !important; }
  .encausa.balance.categorias .content .number, .encausa .balance.categorias .content .number {
    top: 7px !important;
    font-size: 50px !important; }
  .encausa.balance.categorias .content h3.orange, .encausa.balance.categorias .content h3.white, .encausa .balance.categorias .content h3.orange, .encausa .balance.categorias .content h3.white {
    font-size: 21px !important;
    width: 90% !important;
    line-height: 31px !important; }
  .encausa.balance.categorias .content-2, .encausa .balance.categorias .content-2 {
    top: 17% !important; }
  .encausa.balance.categorias .content-2 .number, .encausa .balance.categorias .content-2 .number {
    top: -7px !important;
    font-size: 50px !important; }
  .encausa.balance.categorias .content-2 h3.orange, .encausa.balance.categorias .content-2 h3.white, .encausa .balance.categorias .content-2 h3.orange, .encausa .balance.categorias .content-2 h3.white {
    font-size: 21px !important;
    width: 90% !important;
    line-height: 31px !important; }
  .encausa.balance.categorias .categoria, .encausa .balance.categorias .categoria {
    min-width: auto;
    min-height: auto; } }

.encausa.proyectos.categorias, .encausa .proyectos.categorias {
  display: grid;
  grid-template-columns: repeat(3, 460px);
  height: auto;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem 15px;
  margin-top: 10%;
  			/*@media (max-width:980px){				
  				grid-template-columns: repeat(2, auto);
  			}			
  			@media (max-width:700px){				
  				grid-template-columns: repeat(1, auto);
              }*/ }
.encausa.proyectos.categorias .categoria, .encausa .proyectos.categorias .categoria {
  position: relative;
  width: 100%;
  min-width: 300px;
  min-height: 400px;
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer; }
.encausa.proyectos.categorias .categoria::before, .encausa .proyectos.categorias .categoria::before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.encausa.proyectos.categorias .categoria .content, .encausa .proyectos.categorias .categoria .content {
  position: absolute;
  bottom: 15%;
  left: 50%;
  padding-left: 30px;
  width: 100%;
  transform: translateX(-50%);
  color: white; }
.encausa.proyectos.categorias .categoria .content .icon, .encausa .proyectos.categorias .categoria .content .icon {
  position: absolute;
  top: -30px;
  left: 20px;
  width: 60px;
  height: 60px; }
.encausa.proyectos.categorias .categoria .content h3, .encausa .proyectos.categorias .categoria .content h3 {
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif;
  color: white; }
.encausa.proyectos.categorias .categoria .content h3::before, .encausa .proyectos.categorias .categoria .content h3::before {
  display: block;
  content: ' ';
  position: absolute;
  bottom: -12px;
  left: 30px;
  width: 44px;
  height: 1px;
  border: 3px solid white; }
.encausa.proyectos.categorias .categoria .content h4, .encausa .proyectos.categorias .categoria .content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif;
  color: white; }
.encausa.proyectos.categorias .categoria .content h3::before, .encausa .proyectos.categorias .categoria .content h3::before {
  border-radius: 5px; }
@media (max-width: 1380px) {
  .encausa.proyectos.categorias, .encausa .proyectos.categorias {
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: initial; }
  .encausa.proyectos.categorias article, .encausa .proyectos.categorias article {
    height: 380px; }
  .encausa.proyectos.categorias .content h3, .encausa .proyectos.categorias .content h3 {
    font-size: 2.8rem !important; } }
@media (max-width: 1200px) {
  .encausa.proyectos.categorias, .encausa .proyectos.categorias {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: initial; }
  .encausa.proyectos.categorias article, .encausa .proyectos.categorias article {
    height: 350px; }
  .encausa.proyectos.categorias .content h3, .encausa .proyectos.categorias .content h3 {
    font-size: 2.3rem !important; } }
@media (max-width: 1080px) {
  .encausa.proyectos.categorias, .encausa .proyectos.categorias {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 300px); } }
@media (max-width: 1024px) {
  .encausa.proyectos.categorias, .encausa .proyectos.categorias {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: initial; }
  .encausa.proyectos.categorias article, .encausa .proyectos.categorias article {
    height: 250px; }
  .encausa.proyectos.categorias .categoria, .encausa .proyectos.categorias .categoria {
    min-width: auto;
    min-height: auto; }
  .encausa.proyectos.categorias .content h3, .encausa .proyectos.categorias .content h3 {
    font-size: 1.8rem !important; } }
@media (max-width: 860px) {
  .encausa.proyectos.categorias, .encausa .proyectos.categorias {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: initial; }
  .encausa.proyectos.categorias article, .encausa .proyectos.categorias article {
    height: 200px; }
  .encausa.proyectos.categorias .content h3, .encausa .proyectos.categorias .content h3 {
    font-size: 1.4rem !important; } }
@media (max-width: 768px) {
  .encausa.proyectos.categorias, .encausa .proyectos.categorias {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: initial; }
  .encausa.proyectos.categorias article, .encausa .proyectos.categorias article {
    height: 250px; }
  .encausa.proyectos.categorias .content h3, .encausa .proyectos.categorias .content h3 {
    font-size: 1.8rem !important; } }
@media (max-width: 600px) {
  .encausa.proyectos.categorias, .encausa .proyectos.categorias {
    grid-template-columns: repeat(1, 315px);
    grid-template-rows: initial; }
  .encausa.proyectos.categorias article, .encausa .proyectos.categorias article {
    height: 315px; }
  .encausa.proyectos.categorias .content h3, .encausa .proyectos.categorias .content h3 {
    font-size: 2.3rem !important; } }

/*# sourceMappingURL=encausa.css.map */
