@charset "UTF-8";
/* Varios */
img {
  max-width: 100%; }

p {
  max-width: 800px;
  line-height: 150%; }

/* Titulos */
.titulo {
  position: relative;
  margin: 15px 0;
  padding: 0; }
.titulo * {
  position: relative;
  display: block;
  margin: 1.5rem 0px;
  text-transform: uppercase;
  color: #fc7734;
  font-weight: 400;
  font-size: 2em; }
.titulo *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 80px;
  height: 4px;
  bottom: -12px;
  left: 0;
  border: 2px #fc7734 solid; }
.titulo.alt {
  text-align: center; }
.titulo.alt * {
  display: inline-block; }
.titulo.alt *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 40px;
  height: 3px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px #4D4D4D solid; }

/* Botones */
.button {
  display: inline-block;
  border: 1px #fc7734 solid;
  border-radius: 26px;
  padding: 0.71rem 2.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fc7734 !important;
  transition: 0.5s ease all; }
.button:hover {
  background-color: #fc7734;
  color: white !important; }
.button.gris {
  color: #4D4D4D;
  border-color: #4D4D4D; }
.button.gris:hover {
  color: white;
  background-color: #4D4D4D; }

/* Reseña */
.resenna {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  min-height: 400px;
  text-align: center;
  padding: 0 15px;
  margin: 25px 0px; }
@media (max-width: 800px) {
  .resenna {
    padding: 0 5px; } }
.resenna .texto {
  margin: 10rem auto;
  max-width: 800px; }
.resenna .texto p {
  font-size: 1.2rem;
  color: black;
  font-weight: 100;
  margin-bottom: 3em; }
@media (max-width: 800px) {
  .resenna .texto p {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0px 14px 10px 11px; } }
.resenna .linea-punto {
  position: absolute;
  display: block;
  content: " ";
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1.5px;
  border: 0.5px #fc7734 solid; }
.resenna .linea-punto::before {
  position: absolute;
  display: block;
  content: " ";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #fc7734; }

/*# sourceMappingURL=generales.css.map */
