address {
  font-family: 'Montserrat','san-serif'; }

h3 {
  font-family: 'Montserrat','san-serif'; }

a {
  text-decoration: none !important;
  font-family: 'Montserrat','san-serif'; }

h2 {
  font-family: 'Montserrat','san-serif'; }

.navbar .formContacto {
  width: 40%; }
.navbar .formContacto .contenedor h2 {
  text-align: center; }
.navbar .formContacto .contenedor ul {
  padding: 0; }
.navbar .formContacto .contenedor ul li {
  list-style: none;
  text-align: center; }
.navbar .formContacto .contenedor ul li a {
  font-size: 18px;
  line-height: 20px; }
.navbar .formContacto .contenedor ul li.social-media {
  margin-top: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; }
.navbar .formContacto .contenedor ul li.social-media a {
  margin-right: 15px; }

.overlay .small-nav {
  height: 85%; }
.overlay .small-nav ul {
  height: 100%;
  padding: 0;
  left: 0;
  padding: 0 2rem;
  position: relative; }
.overlay .small-nav ul li a {
  color: #4D4D4D;
  font-size: 1.2rem; }
.overlay .small-nav ul .info-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; }
.overlay .small-nav ul .info-container .social-media {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  margin: 1.5rem auto; }
.overlay .small-nav ul .info-container .social-media a {
  width: auto; }
.overlay .small-nav ul .info-container .information {
  margin-top: 3rem;
  text-align: center; }
.overlay .small-nav ul .info-container .information .direction {
  display: block;
  margin: 0 auto 1rem auto; }
.overlay .small-nav ul .info-container .information a {
  width: fit-content;
  font-size: 1.2rem;
  display: inline-flex;
  line-height: 2rem; }
.overlay .small-nav ul .info-container .information .correo {
  display: block;
  margin: auto; }

.global-layout .sobreposicion {
  background: url("../images/imgNew/bannerNosotros.jpg");
  background-size: cover; }
.global-layout .sobreposicion .content {
  top: 75% !important; }
.global-layout .about-us-container {
  padding: 10%; }
.global-layout .balance.categorias .categoria .content h3, .global-layout .balance.categorias .categoria .content-2 h3 {
  padding-top: 15px; }
.global-layout .balance.categorias .square-2 {
  background-image: url("../images/imgNew/creacionesDeNegocios.jpg"); }
.global-layout .balance.categorias .square-1 {
  background-color: #cccccc; }
.global-layout .balance.categorias .square-3 {
  background-color: #ef7b00; }
.global-layout .balance.categorias .square-4 {
  background-image: url("../images/imgNew/planPadrino.jpg"); }
.global-layout .balance.categorias .square-5 {
  background-color: #fff; }
.global-layout .balance.categorias .square-6 {
  background-image: url("../images/imgNew/Programas_RBC.jpg"); }
.global-layout .balance.categorias .square-7 {
  background-image: url("../images/imgNew/EmprendimientoEmpresarial.jpg"); }
.global-layout .balance.categorias .square-8 {
  background-color: #cdcdcd; }
.global-layout .balance.categorias .square-9 {
  background-image: url("../images/imgNew/EmprendimientoEmpresarial.jpg"); }
.global-layout .portadaSlick .main-header .article {
  width: 70%; }
.global-layout .landing {
  background-position: center !important;
  background-size: cover !important;
  height: 60vh;
  position: relative; }
.global-layout .landing .landing-text {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.78);
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 50%;
  padding: 35px;
  height: -moz-max-content;
  height: max-content; }
.global-layout .landing .landing-text p {
  font-weight: 400;
  font-size: 2.5rem;
  color: #fc7734;
  line-height: 150% !important;
  font-family: 'Montserrat','san-serif';
  margin: 0 0 35px; }
.global-layout .landing .landing-text p::before {
  position: absolute;
  display: block;
  content: " ";
  width: 50%;
  height: 4px;
  bottom: 0px;
  left: 0;
  border: 2px #fc7734 solid; }
.global-layout .resenna .texto {
  max-width: 850px; }
.global-layout .resenna .texto h1 {
  color: #fc7734;
  font-size: 38px;
  font-family: 'Montserrat','san-serif';
  margin: 0 0 25.46px; }
.global-layout .resenna .texto p {
  font-size: 25px;
  font-weight: 300;
  color: #4D4D4D;
  line-height: 150%;
  text-align: center;
  font-family: 'Montserrat','san-serif';
  margin: 0 0 75px; }
.global-layout .imagenes .titular {
  padding: 0; }
.global-layout .imagenes .titular .titulo {
  padding: 1rem; }
.global-layout .imagenes .titular h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat','san-serif'; }
.global-layout .imagenes .titular-gray {
  background-color: #4D4D4D;
  color: #fc7734;
  position: relative;
  display: grid;
  padding: 0;
  grid-template-columns: auto;
  justify-content: baseline;
  align-content: baseline;
  max-height: 600px;
  min-height: 400px;
  cursor: pointer; }
.global-layout .imagenes .imagen .img {
  height: 400px; }
.global-layout .carousel {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
.global-layout .carousel .carousel-cont {
  background-color: rgba(252, 119, 52, 0.8);
  margin-bottom: 20px;
  z-index: 1;
  padding: 10px; }
.global-layout .carousel .carousel-cont div {
  padding: 0 20px; }
.global-layout .carousel .carousel-cont div #title {
  margin: 20px 0; }
.global-layout .carousel .carousel-cont div span {
  max-width: 100%;
  padding: 10px 5px;
  font-size: 14px; }
.global-layout .carousel .blur {
  background: transparent; }
.global-layout .text {
  padding: 0; }
.global-layout .text .body-text {
  padding: 50px 30px;
  max-width: 930px;
  margin: 0 auto; }
.global-layout .text .body-text p {
  padding: 0;
  max-width: 900px; }
.global-layout .text .body-text p span {
  color: #4D4D4D !important; }
.global-layout .text div .cuadros {
  margin-top: 5%; }
.global-layout .franja {
  background-image: url("../images/banner-naranja.jpg"); }
.global-layout .franja .boton .button {
  max-width: 190px; }
.global-layout .encausa.proyectos.categorias .categoria .content {
  z-index: 2; }
.global-layout .encausa.proyectos.categorias .categoria .courtain {
  top: 0;
  left: 0;
  transition: all .5s ease;
  background-color: #fc7734;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; }
.global-layout .encausa.proyectos.categorias .categoria:hover .courtain {
  opacity: 1; }
.global-layout .encausa.lineas.categorias .categoria .content {
  z-index: 2; }
.global-layout .encausa.lineas.categorias .categoria .courtain {
  top: 0;
  left: 0;
  transition: all .5s ease;
  background-color: #fc7734;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; }
.global-layout .encausa.lineas.categorias .categoria:hover .courtain {
  opacity: 1; }
.global-layout .cuadros .categoria .content {
  z-index: 2; }
.global-layout .cuadros .categoria .courtain {
  top: 0;
  left: 0;
  transition: all .5s ease;
  background-color: #fc7734;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; }
.global-layout .cuadros .categoria:hover .courtain {
  opacity: 1; }
@media (max-width: 500px) {
  .global-layout .more-news {
    display: none; } }
@media (max-width: 850px) {
  .global-layout .sobreposicion .content {
    padding: 4em 2em; }
  .global-layout .sobreposicion .content p {
    font-size: 16px;
    font-weight: 300;
    text-align: justify; }
  .global-layout .landing {
    height: 90vh; }
  .global-layout .landing .landing-text {
    bottom: 0;
    width: 100%;
    padding: 20px; }
  .global-layout .landing .landing-text p {
    font-size: 1.5rem; }
  .global-layout .resenna .texto {
    margin: 10rem auto 5rem auto; }
  .global-layout .resenna .texto h1 {
    font-size: 30px; }
  .global-layout .resenna .texto p {
    font-size: 18px;
    margin-bottom: 50px; }
  .global-layout .imagenes .imagen {
    max-width: 90%;
    height: 200px;
    margin: auto; }
  .global-layout .imagenes .titular, .global-layout .imagenes .titular-gray {
    min-height: 200px;
    max-width: 90%;
    margin: .5rem auto;
    height: fit-content; }
  .global-layout .imagenes .titular .titulo h3, .global-layout .imagenes .titular-gray .titulo h3 {
    font-size: 1.2rem; }
  .global-layout .imagenes .titular .img, .global-layout .imagenes .titular-gray .img {
    height: 0px; }
  .global-layout .imagenes .titular .mas, .global-layout .imagenes .titular-gray .mas {
    font-size: 3.5rem; }
  .global-layout .franja {
    row-gap: 2rem; }
  .global-layout .text .body-text p {
    font-size: 1.2rem; }
  .global-layout .text div .cuadros a {
    min-height: 300px; }
  .global-layout .aliados .titulo {
    margin-bottom: 3rem; }
  .global-layout .aliados .logos {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2rem 0; }
  .global-layout .aliados .logos img {
    width: 100%; }
  .global-layout .about-us-container {
    padding: 0; }
  .global-layout .about-us-container::before {
    height: 60vh;
    background-position: center;
    background-size: cover; }
  .global-layout .about-us-container .contain {
    transform: translateY(20%);
    padding-top: 40px;
    padding-bottom: 40px; }
  .global-layout .about-us-container .contain h1 {
    color: #fc7734;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px; }
  .global-layout .about-us-container .contain p {
    text-align: justify;
    padding: 0 1.5rem; }
  .global-layout .cover {
    margin-top: 25rem; }
  .global-layout .encausa.proyectos.categorias a {
    min-height: 250px; }
  .global-layout .encausa.proyectos.categorias a .content {
    left: 45%; } }
.global-layout footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: 2rem auto 3rem auto; }
.global-layout footer .logo {
  max-width: 600px; }
.global-layout footer .logo .contacto {
  text-align: start; }
.global-layout footer .logo .contacto address {
  font-size: 1.2rem; }
.global-layout footer .enlaces h3 {
  color: #4D4D4D;
  font-weight: 500; }
.global-layout footer .enlaces div a {
  margin: 0 1rem; }
.global-layout footer .enlaces div a img {
  width: 40px; }
@media (max-width: 850px) {
  .global-layout footer {
    justify-content: center; }
  .global-layout footer .logo .contacto {
    text-align: center; }
  .global-layout footer .enlaces {
    margin-top: 3rem; } }

/*# sourceMappingURL=j_changes.css.map */
