@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700");
*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 14px;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased; }

article, aside, footer, header, nav, section {
  display: block; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #4183c4;
  text-decoration: none; }

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color .2s ease;
  transition: color .2s ease; }

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

button, select {
  text-transform: none; }

button, input {
  overflow: visible; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

img {
  border-style: none; }

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child {
  margin-bottom: 0; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
  margin-top: 0; }

h1 {
  min-height: 1rem;
  font-size: 2rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.28571429em;
  margin: calc(2rem - .14285714em) 0 1rem;
  font-weight: 700;
  padding: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h3 {
  font-size: 1.28571429rem; }

p {
  margin: 0 0 1em;
  line-height: 1.4285em; }

i.icon, i.icons {
  font-size: 1em; }

i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0 .25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

i.icon.check:before {
  content: "\f00c"; }

i.icon:before {
  background: 0 0 !important; }

@font-face {
  font-family: Icons;
  src: url(themes/default/assets/fonts/icons.eot);
  src: url(themes/default/assets/fonts/icons.eot?#iefix) format("embedded-opentype"), url(themes/default/assets/fonts/icons.woff2) format("woff2"), url(themes/default/assets/fonts/icons.woff) format("woff"), url(themes/default/assets/fonts/icons.ttf) format("truetype"), url(themes/default/assets/fonts/icons.svg#icons) format("svg");
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none; }
.ui.form {
  font-size: 1rem;
  position: relative;
  max-width: 100%; }

.ui.form .field {
  clear: both;
  margin: 0 0 1em; }

.ui.form .field > label {
  display: block;
  margin: 0 0 .28571429rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none; }

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease; }

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url], .ui.form textarea {
  width: 100%;
  vertical-align: top; }

input[type=email], input[type=password], input[type=search], input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none; }

.ui.form select {
  display: block;
  height: auto;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  padding: .62em 1em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease; }

button, select {
  text-transform: none; }

.ui.form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 -.5em 1em; }

.ui.form .two.fields > .field, .ui.form .two.fields > .fields {
  width: 50%; }

.ui.form .fields > .field:first-child {
  border-left: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.ui.form .fields > .field {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding-left: .5em;
  padding-right: .5em; }

.ui.form .fields .field {
  clear: both;
  margin: 0; }

@media only screen and (max-width: 767px) {
  .ui.form .fields {
    margin-bottom: 0; }

  .ui.form .fields {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .ui.form:not(.unstackable) .fields:not(.unstackable) > .eight.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .eleven.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .fifteen.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .five.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .four.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .fourteen.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .nine.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .seven.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .six.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .sixteen.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .ten.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .thirteen.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .three.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .twelve.wide.field, .ui.form:not(.unstackable) .fields:not(.unstackable) > .two.wide.field, .ui.form:not(.unstackable) .five.fields:not(.unstackable) > .field, .ui.form:not(.unstackable) .five.fields:not(.unstackable) > .fields, .ui.form:not(.unstackable) .four.fields:not(.unstackable) > .field, .ui.form:not(.unstackable) .four.fields:not(.unstackable) > .fields, .ui.form:not(.unstackable) .three.fields:not(.unstackable) > .field, .ui.form:not(.unstackable) .three.fields:not(.unstackable) > .fields, .ui.form:not(.unstackable) .two.fields:not(.unstackable) > .field, .ui.form:not(.unstackable) .two.fields:not(.unstackable) > .fields {
    width: 100% !important;
    margin: 0 0 1em; } }
.ui.red.button:active, .ui.red.buttons .button:active {
  background-color: #b21e1e;
  color: #fff;
  text-shadow: none; }

.ui.red.button:hover, .ui.red.buttons .button:hover {
  background-color: #d01919;
  color: #fff;
  text-shadow: none; }

.ui.red.button {
  -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset; }

.ui.red.button, .ui.red.buttons .button {
  background-color: #db2828;
  color: #fff;
  text-shadow: none;
  background-image: none; }

.ui.active.button:active, .ui.button:active {
  background-color: #babbbc;
  background-image: '';
  color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 0 1px transparent inset,none;
  box-shadow: 0 0 0 1px transparent inset,none; }

.ui.button:hover {
  background-color: #cacbcd;
  background-image: none;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  color: rgba(0, 0, 0, 0.8); }

.ui.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent; }

/* Varios */
img {
  max-width: 100%; }

p {
  max-width: 800px;
  line-height: 150%; }

/* Titulos */
.titulo {
  position: relative;
  margin: 15px 0;
  padding: 0; }
.titulo * {
  position: relative;
  display: block;
  margin: 1.5rem 0px;
  text-transform: uppercase;
  color: #fc7734;
  font-weight: 400;
  font-size: 2em; }
.titulo *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 80px;
  height: 4px;
  bottom: -12px;
  left: 0;
  border: 2px #fc7734 solid; }
.titulo.alt {
  text-align: center; }
.titulo.alt * {
  display: inline-block; }
.titulo.alt *::before {
  position: absolute;
  display: block;
  content: " ";
  width: 40px;
  height: 3px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px #4D4D4D solid; }

/* Botones */
.button {
  display: inline-block;
  border: 1px #fc7734 solid;
  border-radius: 26px;
  padding: 0.71rem 2.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fc7734;
  transition: 0.5s ease all; }
.button:hover {
  background-color: #fc7734;
  color: white; }
.button.gris {
  color: #4D4D4D;
  border-color: #4D4D4D; }
.button.gris:hover {
  color: white;
  background-color: #4D4D4D; }

/* Reseña */
.resenna {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  min-height: 400px;
  text-align: center;
  padding: 0 15px;
  margin: 25px 0px; }
@media (max-width: 800px) {
  .resenna {
    padding: 0 5px; } }
.resenna .texto {
  margin: 10rem auto;
  max-width: 800px; }
.resenna .texto p {
  font-size: 1.2rem;
  color: black;
  font-weight: 100;
  margin-bottom: 3em; }
@media (max-width: 800px) {
  .resenna .texto p {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0px 14px 10px 11px; } }
.resenna .linea-punto {
  position: absolute;
  display: block;
  content: " ";
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1.5px;
  border: 0.5px #fc7734 solid; }
.resenna .linea-punto::before {
  position: absolute;
  display: block;
  content: " ";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #fc7734; }

/* Menú */
@keyframes navbarFixedIn {
  0% {
    top: -100%; }
  100% {
    top: 0%; } }
.navbar {
  display: grid;
  grid-template-columns: 20% 80%;
  background: #fff;
  align-items: center;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.49);
  transition: 0.5s ease all;
  font-weight: 400;
  position: relative;
  z-index: 100; }
.navbar.scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 2px 8px 0 transparent;
  animation: navbarFixedIn 0.5s ease; }
@media (max-width: 900px) {
  .navbar {
    position: fixed;
    width: 100%; } }
.navbar div.logo img {
  padding-left: 10%;
  max-width: 200px;
  min-width: 200px;
  padding-top: 4px; }
@media (max-width: 1400px) {
  .navbar div.logo img {
    max-width: 180px;
    min-width: 180px; } }
@media (max-width: 1280px) {
  .navbar div.logo img {
    grid-template-columns: 20% auto;
    max-width: 150px;
    min-width: 150px;
    padding-left: 4px; } }
.navbar ul.enlaces {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0;
  list-style: none;
  text-align: right; }
.navbar ul.enlaces li {
  position: relative;
  margin: 0px 5px;
  padding: 0px 10px;
  height: 100%;
  max-width: 170px;
  text-align: center;
  line-height: 25px;
  transition: all ease-in .2s; }
.navbar ul.enlaces li a {
  display: inline-grid;
  align-items: center;
  height: 100%;
  padding: 0px 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6); }
.navbar ul.enlaces li.mail {
  background: #fc7734;
  margin-right: 0;
  max-width: 100px;
  width: 100%; }
.navbar ul.enlaces li.mail .icon.email img {
  width: 40px;
  height: 40px; }
.navbar ul.enlaces li.sub-item ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin: 0;
  padding: 0;
  height: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.49);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0;
  transition: all ease-in-out .2s;
  list-style: none; }
.navbar ul.enlaces li.sub-item ul li {
  padding: 10px 0px;
  margin: 0px; }
.navbar ul.enlaces li.sub-item ul li a {
  color: rgba(0, 0, 0, 0.6); }
.navbar ul.enlaces li.sub-item ul li:hover {
  background-color: #fc7734; }
.navbar ul.enlaces li.sub-item ul li:hover a {
  color: white; }
.navbar ul.enlaces li.sub-item:hover ul {
  opacity: 1;
  top: 100%;
  height: auto; }
.navbar ul.enlaces > li::before {
  content: "";
  height: 6px;
  position: absolute;
  width: 0%;
  background: #fc7734;
  margin: 0 auto;
  bottom: 0;
  transition: all ease-in .2s; }
.navbar ul.enlaces > li.active::before {
  width: 50%;
  left: 20px; }
.navbar ul.enlaces > li.active:hover .navbar ul.enlaces > li.active::before {
  width: 100%;
  left: 0; }
.navbar ul.enlaces > li:hover::before {
  width: 100%;
  left: 0; }
.navbar ul.enlaces > li:hover a {
  color: #000; }
.navbar button.btn-menu {
  display: none;
  border: 0;
  width: 40px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 100; }
.navbar button.btn-menu:focus {
  outline: 1px dotted transparent; }
.navbar button.btn-menu .show_menu .btn-menu:focus {
  outline: none; }
.navbar button.btn-menu .text {
  display: block;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden; }
.navbar button.btn-menu .bar, .navbar button.btn-menu .bar:before, .navbar button.btn-menu .bar:after {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #fc7734;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.navbar button.btn-menu .bar {
  top: 10px;
  left: 0; }
.navbar button.btn-menu .bar:before {
  position: absolute;
  content: '';
  top: 10px;
  left: 0; }
.navbar button.btn-menu .bar:after {
  position: absolute;
  content: '';
  top: -10px;
  left: 0; }
.show .navbar button.btn-menu .bar {
  background-color: transparent; }
.show .navbar button.btn-menu .bar:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.show .navbar button.btn-menu .bar:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
@media screen and (max-width: 980px) {
  .navbar ul.enlaces li {
    display: none !important; }
  .navbar ul.enlaces button.btn-menu {
    display: block; } }

@media (max-width: 900px) {
  div.portadaSlick {
    margin-top: 70px; } }
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  display: none;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  transition: width 0.3s ease-in; }
.show .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99; }
.overlay nav ul {
  list-style-type: none;
  position: relative;
  top: 20px;
  left: 50px;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.3s 0.2s ease-out; }
.overlay nav ul li.sub-item:hover > ul, .overlay nav ul li.sub-item:active > ul {
  opacity: 1;
  display: block;
  height: 100%; }
.overlay nav ul li.sub-item > ul {
  opacity: 0;
  display: none;
  height: 0;
  top: 0;
  left: 0;
  height: 0; }
.show .overlay nav ul {
  opacity: 1;
  transform: translateX(0); }
.overlay nav a {
  display: block;
  width: 200px;
  line-height: 42px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black; }
@media screen and (max-width: 980px) {
  .overlay {
    display: block; } }

/* Header */
.main-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 800px;
  height: -moz-max-content;
  height: max-content; }
.main-header article {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.78);
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 50%;
  padding: 50px;
  height: -moz-max-content;
  height: max-content;
  z-index: 99999; }
.main-header article .titulo h1 {
  font-weight: 400;
  font-size: 2.5rem; }
@media (max-width: 1400px) {
  .main-header article {
    width: 65%; } }
@media (max-width: 900px) {
  .main-header article {
    width: 100%;
    padding: 5px;
    bottom: 5%; }
  .main-header article .titulo h1 {
    font-size: 1.8rem;
    width: 75%; } }

/* Footer */
/*header div.bx-wrapper div.bx-viewport{
    height: 655px !important;
}
header.sobreposicion div.bx-wrapper div.bx-viewport{
    height: 333px !important;
}*/
footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  justify-content: space-around;
  justify-items: space-around;
  align-content: center;
  align-items: center;
  margin-bottom: 4rem;
  padding: 0 15px;
  margin-top: 4rem; }
@media (max-width: 1100px) {
  footer {
    grid-template-columns: 30% 40% 30%; } }
@media (max-width: 700px) {
  footer {
    grid-template-columns: 100%; } }
footer .logo img {
  width: 100%;
  max-width: 300px; }
@media (max-width: 1100px) {
  footer .logo img {
    max-width: 100%; } }
@media (max-width: 700px) {
  footer .logo img {
    max-width: 250px;
    margin: 12px auto;
    display: block; } }
footer .contacto {
  text-align: center; }
footer .contacto address {
  font-size: 1.5rem;
  font-style: normal;
  line-height: 150%;
  color: #4D4D4D; }
footer .contacto address strong a {
  color: #4D4D4D;
  font-weight: 500; }
@media (max-width: 980px) {
  footer .contacto address {
    font-size: 0.98em; } }
footer .enlaces {
  text-align: center; }
footer .enlaces > div {
  margin: 15px 0; }
footer .enlaces > div a {
  color: #000;
  font-size: 1rem; }
footer .enlaces > div a.button.gris {
  padding: 0.8rem 2.8rem;
  border-width: 3px;
  border-color: #4D4D4D;
  color: #4D4D4D; }
footer .enlaces > div a.button.gris:hover {
  background-color: #4D4D4D;
  color: white; }

.imagenes {
  display: flex;
  flex-wrap: wrap; }
.imagenes > * {
  display: block;
  flex: 0 0 33.3333%;
  width: 33.3333%; }
@media (max-width: 1200px) {
  .imagenes > * {
    flex: 0 0 50%;
    width: 50%; } }
@media (max-width: 800px) {
  .imagenes > * {
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 5px; } }
.imagenes .imagen {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  max-height: 600px;
  transition: all .2s ease-in-out;
  overflow: hidden;
  cursor: pointer; }
.imagenes .imagen div.img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease; }
.imagenes .imagen div.img:hover {
  transform: scale(1.1); }
@media (max-width: 425px) {
  .imagenes .imagen {
    max-width: 50%;
    min-height: 200px; } }
.imagenes .titular {
  position: relative;
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: auto;
  justify-content: baseline;
  align-content: baseline;
  background-color: #fc7734;
  max-height: 600px;
  min-height: 400px;
  cursor: pointer; }
@media (max-width: 800px) {
  .imagenes .titular {
    padding: 0 1rem; } }
@media (max-width: 425px) {
  .imagenes .titular {
    max-width: 50%;
    min-height: 200px; } }
.imagenes .titular:hover .titulo h2::before {
  width: calc(100% - 20px); }
.imagenes .titular * {
  color: white !important; }
.imagenes .titular .titulo h2 {
  font-size: 3rem;
  font-weight: 600;
  padding: 20px; }
@media (max-width: 1200px) {
  .imagenes .titular .titulo h2 {
    padding: 5px; } }
@media (max-width: 425px) {
  .imagenes .titular .titulo h2 {
    font-size: 1.1rem; } }
.imagenes .titular .titulo h2::before {
  transition: all ease .2s;
  border-color: white;
  left: 20px; }
@media (max-width: 1200px) {
  .imagenes .titular .titulo h2::before {
    left: 5px; } }
.imagenes .titular a.mas {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 4rem;
  height: 3rem;
  width: 3rem;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  font-weight: 800; }
.imagenes .titular a.mas i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%; }
.imagenes .titular a.mas i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
.imagenes .titular span.mas {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 6rem;
  height: 3rem;
  width: 3rem;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  font-weight: 800; }
.imagenes .titular.alt {
  background-color: white; }
.imagenes .titular.alt * {
  color: #fc7734 !important; }
.imagenes .titular.alt .titulo {
  position: absolute;
  bottom: 15px;
  left: 25px; }
.imagenes .titular.alt .titulo *::before {
  border-color: #fc7734; }
.imagenes .titular.alt a.mas {
  bottom: 14px; }
.imagenes .titular.alt span.mas {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 6rem;
  height: 3rem;
  width: 3rem;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  font-weight: 800; }

.cargarMas {
  text-align: center;
  margin: 6%; }

.aliados {
  margin: 8rem 0;
  padding: 0 3rem; }
@media (max-width: 660px) {
  .aliados {
    padding: 0 1rem; } }
.aliados .titulo {
  margin-bottom: 7rem; }
.aliados .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0; }
.aliados .logos > * {
  flex: 0 0 15%;
  margin: 20px 0px;
  text-align: center; }
@media (max-width: 1000px) {
  .aliados .logos > * {
    flex: 0 0 25%; } }
@media (max-width: 490px) {
  .aliados .logos > * {
    flex: 0 0 30%; } }
@media (max-width: 660px) {
  .aliados .logos > * {
    margin: 10px 10px; } }
.aliados .logos > * img {
  max-width: 120px; }

.franja {
  display: grid;
  grid-template-columns: 60% auto;
  align-items: center;
  margin: 5rem 0;
  padding: 6rem;
  min-height: 200px; }
.franja > * {
  text-align: center; }
.franja .texto * {
  font-size: 2.5em;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); }
@media (max-width: 990px) {
  .franja .texto * {
    font-size: 2.3em; } }
@media (max-width: 780px) {
  .franja .texto * {
    font-size: 2em; } }
.franja .boton .button {
  border-width: 3px;
  border-color: white;
  color: white;
  font-weight: 800;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.4), inset 1px 2px 9px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  width: 100%;
  max-width: 160px; }
.franja .boton .button:hover {
  background-color: white;
  border-color: white;
  color: #fc7734; }
@media (max-width: 1240px) {
  .franja {
    grid-template-columns: 80% auto; } }
@media (max-width: 990px) {
  .franja {
    grid-template-columns: 50% auto; } }
@media (max-width: 780px) {
  .franja {
    padding: 2rem; } }
@media (max-width: 460px) {
  .franja {
    grid-template-columns: 100%; } }

.formContacto {
  width: 35%;
  position: absolute;
  background-color: #fc7733;
  height: auto;
  z-index: 100;
  right: 0;
  top: 76px;
  border-radius: 3px; }
.formContacto .contenedor {
  margin: 2%;
  background-color: #fc7733;
  padding: 5px 0;
  color: white;
  border: 1px solid; }
.formContacto .contenedor h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  margin: 2%;
  color: white; }
.formContacto .contenedor ul li {
  list-style-type: circle;
  color: #fff;
  margin: 5px 0px; }
.formContacto .contenedor ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #fff; }
.formContacto .contenedor ul li a img {
  margin: -7px -1px; }
.formContacto .contenedor ul li a:hover {
  color: #f7ece7; }

/*# sourceMappingURL=style.css.map */
