@import "fonts";
@import "functions";
@import "colors";
@import "sizes";
@import "elements-styles/all";

* {
    box-sizing: border-box;
}

//Generals
html,
body {
    font-size: $html-font-size;
    font-family: $font-family-first;
    font-weight: 400;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.global-layout {
    font-size: $html-font-size;
    color: $color-fourth;
}

p,
span,
div,
strong,
small,
ul,
ol,
li,
dl,
dd,
a,
mark,
q,
blockquote h1,
h2,
h3,
h4,
h5,
h6 {

    .global-layout &.text-reading,
    &.text-reading.global-layout {
        font-family: $font-family-second;
        font-weight: 400;
    }
}

hr {
    box-sizing: content-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    overflow: visible;
    margin: 32px 0px;
    height: 0;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
}

.elements-container {

    .global-layout &,
    &.global-layout {

        display: block;
        max-width: 1200px;

        &.centered {
            margin: 0 auto;
        }

        &.fit {
            width: max-content;
            width: -moz-max-content;
            max-width: 100%;
        }

        &.xsmall {
            max-width: 600px;
        }

        &.small {
            max-width: 800px;
        }

        &.medium {
            max-width: 1200px;
        }

        &.big {
            max-width: 1440px;
        }

        &.xbig {
            max-width: 1920px;
        }

    }
}

//Texts

.text-align-c {

    .global-layout &,
    &.global-layout {
        text-align: center;
    }

}

.text-align-l {

    .global-layout &,
    &.global-layout {
        text-align: left;
    }

}

.text-align-r {

    .global-layout &,
    &.global-layout {
        text-align: right;
    }

}

.text-align-j {

    .global-layout &,
    &.global-layout {
        text-align: justify;
    }

}
